@import url(../css/icons.css);
/* line 33, ../scss/styles-hyno.scss */
.nav-header .buttons a.freshbutton-lightblue, .nav-header .buttons a.freshbutton-blue {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

/* line 50, ../scss/styles-hyno.scss */
.Hyno_ContenFolder li.browse-file, .Hyno_ContenFolder li.browse-new-folder {
  position: relative;
  border: 1px solid #edf1f5;
  zoom: 1;
  list-style: none;
  font-size: 13px;
}

/* line 59, ../scss/styles-hyno.scss */
.externalIcon {
  width: 16px;
  height: 16px;
  background-image: url(../img/ico-external-link.png);
  background-repeat: no-repeat;
  position: relative;
}

/* line 67, ../scss/styles-hyno.scss */
.nav-header {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  height: 30px;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  border-bottom: 1px solid #aeceef;
  vertical-align: middle;
}
/* line 78, ../scss/styles-hyno.scss */
.nav-header:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  zpadding-bottom: 12px;
  height: 1px;
  z-index: 10;
}
/* line 89, ../scss/styles-hyno.scss */
.nav-header .logo {
  line-height: 30px;
  display: inline-block;
}
/* line 92, ../scss/styles-hyno.scss */
.nav-header .logo img {
  max-width: 140px;
  max-height: 30px;
  vertical-align: middle;
  display: inline;
}
/* line 97, ../scss/styles-hyno.scss */
.nav-header .logo img.big {
  display: none;
}
/* line 100, ../scss/styles-hyno.scss */
.nav-header .logo img.custom-team-logo {
  vertical-align: top;
}
/* line 105, ../scss/styles-hyno.scss */
.nav-header .filename {
  font-size: 14px;
  color: #444;
  margin-left: 10px;
  line-height: 30px;
  vertical-align: top;
}
/* line 112, ../scss/styles-hyno.scss */
.nav-header #shmodel-owner {
  margin-left: 5px;
  font-size: 13px;
}
/* line 116, ../scss/styles-hyno.scss */
.nav-header .nav-close {
  float: right;
  position: absolute;
  right: 9px;
  top: 15px;
  cursor: pointer;
}
/* line 123, ../scss/styles-hyno.scss */
.nav-header .buttons {
  position: absolute;
  right: 29px;
  top: 8px;
}
/* line 127, ../scss/styles-hyno.scss */
.nav-header .buttons #account-header {
  padding-top: 0;
}
/* line 137, ../scss/styles-hyno.scss */
.nav-header .buttons a.disabled-button {
  opacity: .4;
  cursor: default;
}
/* line 142, ../scss/styles-hyno.scss */
.nav-header .buttons .link-wrapper {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  top: -2px;
  position: relative;
}
/* line 150, ../scss/styles-hyno.scss */
.nav-header .buttons .link-wrapper .copy-icon {
  height: 18px;
  padding: 5px;
  border-right: 1px solid #bfbfbf;
  vertical-align: middle;
}
/* line 155, ../scss/styles-hyno.scss */
.nav-header .buttons .link-wrapper .copy-icon img {
  vertical-align: -3px;
  margin-left: 3px;
}
/* line 160, ../scss/styles-hyno.scss */
.nav-header .buttons .link-wrapper .short-link {
  border-width: 0;
  width: 120px;
  text-align: right;
  padding: 5px;
  height: 18px;
  box-shadow: 0 3px 3px #eee;
}
/* line 171, ../scss/styles-hyno.scss */
.nav-header #account-header {
  display: inline-block;
  float: none;
  vertical-align: top;
  line-height: 30px;
}
/* line 176, ../scss/styles-hyno.scss */
.nav-header #account-header .sub-nav {
  right: 10px;
  margin-top: 20px;
  line-height: normal;
}
/* line 180, ../scss/styles-hyno.scss */
.nav-header #account-header .sub-nav#notification-nav-link {
  margin-top: 17px;
  right: 0;
}
/* line 185, ../scss/styles-hyno.scss */
.nav-header #account-header .bubble-dropdown {
  line-height: normal;
}
/* line 188, ../scss/styles-hyno.scss */
.nav-header #account-header ul.nav {
  padding-left: 0;
}
/* line 190, ../scss/styles-hyno.scss */
.nav-header #account-header ul.nav #login-hover-link {
  padding: 0 !important;
  margin: 0 0 0 20px;
}
/* line 194, ../scss/styles-hyno.scss */
.nav-header #account-header ul.nav #login-hover-cont {
  line-height: normal;
}
/* line 197, ../scss/styles-hyno.scss */
.nav-header #account-header ul.nav #notification-feed-nav-link .header-nav-link span.freshbubble#new-notification-count {
  top: 0;
}
/* line 200, ../scss/styles-hyno.scss */
.nav-header #account-header ul.nav .header-nav-link:not(.sprite-button) {
  margin: 0;
}
/* line 205, ../scss/styles-hyno.scss */
.nav-header #owner-menu-button {
  padding: 4px 6px;
}
/* line 207, ../scss/styles-hyno.scss */
.nav-header #owner-menu-button .sprite {
  margin-right: 0;
}
/* line 211, ../scss/styles-hyno.scss */
.nav-header #non-owner-menu-button {
  padding: 4px 6px;
}
/* line 213, ../scss/styles-hyno.scss */
.nav-header #non-owner-menu-button .sprite {
  margin-right: 0;
}
/* line 217, ../scss/styles-hyno.scss */
.nav-header #owner-menu {
  width: auto;
}
/* line 220, ../scss/styles-hyno.scss */
.nav-header #download-menu {
  width: auto;
}
/* line 223, ../scss/styles-hyno.scss */
.nav-header .download-menu-team-assume-user-offset {
  top: 36pt !important;
  left: -30pt !important;
  width: 135pt !important;
}

/* line 230, ../scss/styles-hyno.scss */
.DropboxIcon {
  height: 20px;
  background-image: url(../img/web_sprites-normal.png);
  background-repeat: no-repeat;
  background-position: 0 -8772px;
  display: inline-block;
  position: relative;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}

/* line 243, ../scss/styles-hyno.scss */
.Hyno_ContenFolder {
  background-color: #fff;
  color: #007ee5;
  width: 98%;
  margin: auto;
}
/* line 248, ../scss/styles-hyno.scss */
.Hyno_ContenFolder #list-view-header {
  color: #777;
  margin: 4px 0 10px;
}
/* line 252, ../scss/styles-hyno.scss */
.Hyno_ContenFolder a {
  color: #007ee5 !important;
  text-decoration: none !important;
}
/* line 255, ../scss/styles-hyno.scss */
.Hyno_ContenFolder a:hover {
  color: #007ee5;
  text-decoration: underline !important;
}
/* line 260, ../scss/styles-hyno.scss */
.Hyno_ContenFolder img {
  display: inline !important;
}
/* line 263, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .gallery-view-section {
  height: 280px;
  overflow: auto;
}
/* line 267, ../scss/styles-hyno.scss */
.Hyno_ContenFolder #icon_folder {
  background-image: url(../img/icon_dropbox.png);
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 30px;
  height: 27px;
}
/* line 275, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .header_1 {
  font-size: 16px;
  font-weight: bold;
}
/* line 279, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .iconos {
  width: 90px;
  display: inline-block;
  text-align: center;
  line-height: 100%;
  border: none;
  padding: 6px;
}
/* line 288, ../scss/styles-hyno.scss */
.Hyno_ContenFolder #folder-title a {
  color: #555;
  text-decoration: none;
  font-weight: 600;
}
/* line 293, ../scss/styles-hyno.scss */
.Hyno_ContenFolder ol li {
  /*font-size: small;*/
}
/* line 297, ../scss/styles-hyno.scss */
.Hyno_ContenFolder #list-view-container {
  margin: 13px 0;
  padding-right: 16px;
}
/* line 300, ../scss/styles-hyno.scss */
.Hyno_ContenFolder #list-view-container #list-view-header {
  color: #777;
  margin: 4px 0 10px;
}
/* line 304, ../scss/styles-hyno.scss */
.Hyno_ContenFolder #list-view-container .browse-file:first-child {
  padding-top: 7px;
}
/* line 307, ../scss/styles-hyno.scss */
.Hyno_ContenFolder #list-view-container .browse-files .browse-file {
  border-width: 1px 0 0 0;
}
/* line 312, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .gallery-view-section {
  background-color: #fff;
  border: 1px solid #ccdbeb;
  border-radius: 2px;
  padding-top: 16px;
  padding-left: 16px;
}
/* line 321, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 331, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .list-view-cols .filename-col {
  width: 70%;
  font-size: smaller;
}
/* line 335, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .list-view-cols div {
  display: block;
  float: left;
}
/* line 339, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .list-view-cols .filesize-col {
  width: 15%;
  font-size: smaller;
}
/* line 343, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .list-view-cols .modified-col {
  width: 15%;
  float: left;
  font-size: smaller;
}
/* line 350, ../scss/styles-hyno.scss */
.Hyno_ContenFolder ol {
  display: block;
  list-style-type: decimal;
}
/* line 353, ../scss/styles-hyno.scss */
.Hyno_ContenFolder ol.browse-files {
  padding: 0 0 9px;
}
/* line 358, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .gallery-list-view {
  margin: 0;
}
/* line 360, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .gallery-list-view .browse-file {
  padding: 7px 0;
  margin: 0;
  color: #555;
  border-width: 1px 0 0 0;
  text-align: left;
  line-height: 32px;
}
/* line 367, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .gallery-list-view .browse-file div {
  display: block;
  cursor: default;
}
/* line 371, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .gallery-list-view .browse-file img.icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  display: block;
  overflow: hidden;
  background-color: transparent;
  vertical-align: bottom;
  border: 1px solid transparent;
  cursor: pointer;
}
/* line 386, ../scss/styles-hyno.scss */
.Hyno_ContenFolder li {
  display: list-item;
}

/* line 397, ../scss/styles-hyno.scss */
div {
  display: block;
}
