.sprite_web {
	width: 16px;
	height: 16px;
	background-image: url(img/web_sprites.png);
	background-repeat: no-repeat
}
.s_web_osx {
	background-position: left -8226px
}
.s_web_edit_timestamp_padded_32 {
	background-position: left -5349px;
	width: 32px;
	height: 32px
}
.s_web_lightbox_close_small {
	background-position: left -7165px;
	width: 14px;
	height: 14px
}
.s_web_folder_app {
	background-position: left -2477px
}
.s_web_album_new_16 {
	background-position: left -3225px
}
.s_web_page_paste {
	background-position: left -8345px
}
.s_web_events_20 {
	background-position: left -5577px;
	width: 20px;
	height: 20px
}
.s_web_mp3 {
	background-position: left -85px
}
.s_web_nav-share {
	background-position: left -12056px
}
.s_web_api_python_disabled {
	background-position: left -3752px
}
.s_web_email_go {
	background-position: left -11535px;
	width: 19px;
	height: 19px
}
.s_web_lightbox_add_to_album {
	background-position: left -7132px;
	width: 32px;
	height: 32px
}
.s_web_computer_add {
	background-position: left -4906px
}
.s_web_folder_delete_32 {
	background-position: left -5833px;
	width: 32px;
	height: 32px
}
.s_web_nav-gs {
	background-position: left -12005px
}
.s_web_pr_32 {
	background-position: left -2272px;
	width: 32px;
	height: 32px
}
.s_web_arrow_right_white {
	background-position: left -4059px;
	width: 21px;
	height: 15px
}
.s_web_link_32 {
	background-position: left -7434px;
	width: 32px;
	height: 32px
}
.s_web_folder_gray {
	background-position: left -2545px;
	width: 19px;
	height: 19px
}
.s_web_facebook {
	background-position: left -5712px
}
.s_web_mobile_16 {
	background-position: left -7863px
}
.s_web_ums_heart_active_icon {
	background-position: left -10529px;
	width: 14px;
	height: 14px
}
.s_web_page_white_word_gray_32 {
	background-position: left -2239px;
	width: 32px;
	height: 32px
}
.s_web_icon_green_checkmark {
	background-position: left -6786px;
	width: 24px;
	height: 24px
}
.s_web_white_play {
	background-position: left -10776px
}
.s_web_help2 {
	background-position: left -6690px
}
.s_web_application_double {
	background-position: left -3903px
}
.s_web_music_20 {
	background-position: left -8022px;
	width: 20px;
	height: 20px
}
.s_web_x-fromo {
	background-position: left -10930px;
	width: 9px;
	height: 9px
}
.s_web_email_32 {
	background-position: left -11462px;
	width: 32px;
	height: 32px
}
.s_web_api_js {
	background-position: left -3633px
}
.s_web_package_gray_32 {
	background-position: left -1249px;
	width: 32px;
	height: 32px
}
.s_web_timeline_dot {
	background-position: left -10183px;
	width: 4px;
	height: 4px
}
.s_web_user_go {
	background-position: left -12439px;
	width: 19px;
	height: 19px
}
.s_web_sync {
	background-position: left -9874px
}
.s_web_referral_facebook {
	background-position: left -9114px
}
.s_web_basics_36 {
	background-position: left -4168px;
	width: 36px;
	height: 36px
}
.s_web_nav-events {
	background-position: left -11972px;
	width: 15px;
	height: 15px
}
.s_web_download {
	background-position: left -11323px;
	width: 19px;
	height: 19px
}
.s_web_api_android_disabled {
	background-position: left -3514px
}
.s_web_api_php_disabled {
	background-position: left -3718px
}
.s_web_transmit_gray {
	background-position: left -10300px
}
.s_web_hide_del {
	background-position: left -6707px
}
.s_web_page_white_paint_32 {
	background-position: left -1810px;
	width: 32px;
	height: 32px
}
.s_web_ipad_small_32 {
	background-position: left -6911px;
	width: 32px;
	height: 32px
}
.s_web_Safari {
	background-position: left -3021px
}
.s_web_new {
	background-position: left -8093px
}
.s_web_blackberry_32 {
	background-position: left -4240px;
	width: 32px;
	height: 32px
}
.s_web_view_all_albums {
	background-position: left -10658px;
	width: 32px;
	height: 32px
}
.s_web_api_android {
	background-position: left -3497px
}
.s_web_dropbox_20 {
	background-position: left -5295px;
	width: 20px;
	height: 20px
}
.s_web_camerauploads_32 {
	background-position: left -4597px;
	width: 32px;
	height: 32px
}
.s_web_groupicon_large {
	background-position: left -6537px;
	width: 26px;
	height: 20px
}
.s_web_nav-business {
	background-position: left -11955px
}
.s_web_photos_share {
	background-position: left -8676px;
	width: 32px;
	height: 32px
}
.s_web_ums_heart_depressed_icon {
	background-position: left -10544px;
	width: 14px;
	height: 14px
}
.s_web_gs-complete {
	background-position: left -11626px;
	width: 24px;
	height: 24px
}
.s_web_upload_16 {
	background-position: left -12359px;
	width: 19px;
	height: 19px
}
.s_web_lightbox_remove_from_album {
	background-position: left -7263px;
	width: 32px;
	height: 32px
}
.s_web_win {
	background-position: left -10811px
}
.s_web_create-album {
	background-position: left -11265px;
	width: 19px;
	height: 19px
}
.s_web_redx {
	background-position: left -9065px;
	width: 15px;
	height: 15px
}
.s_web_api_js_disabled {
	background-position: left -3650px
}
.s_web_new_album {
	background-position: left -8110px;
	width: 32px;
	height: 32px
}
.s_web_globe_blue_24x24 {
	background-position: left -6299px;
	width: 24px;
	height: 24px
}
.s_web_mp3-playlist {
	background-position: left -68px
}
.s_web_au_gray_32 {
	background-position: left -490px;
	width: 32px;
	height: 32px
}
.s_web_page_white_gear {
	background-position: left -238px
}
.s_web_page_white_acrobat_32 {
	background-position: left -1315px;
	width: 32px;
	height: 32px
}
.s_web_page_white_text_32 {
	background-position: left -2074px;
	width: 32px;
	height: 32px
}
.s_web_page_white_stack {
	background-position: left -8362px
}
.s_web_black_phone {
	background-position: left -4205px;
	width: 11px;
	height: 17px
}
.s_web_coins {
	background-position: left -4754px
}
.s_web_page_white_webcode_32 {
	background-position: left -2140px;
	width: 32px;
	height: 32px
}
.s_web_arrow_down_grey_small {
	background-position: left -3942px
}
.s_web_camera {
	background-position: left -4559px
}
.s_web_music {
	background-position: left -7972px
}
.s_web_iphone {
	background-position: left -6944px;
	width: 14px;
	height: 21px
}
.s_web_star_36 {
	background-position: left -9666px;
	width: 36px;
	height: 36px
}
.s_web_photos_show_in_folder {
	background-position: left -8709px;
	width: 32px;
	height: 32px
}
.s_web_more {
	background-position: left -11915px;
	width: 19px;
	height: 19px
}
.s_web_pencil {
	background-position: left -12131px;
	width: 19px;
	height: 19px
}
.s_web_Opera {
	background-position: left -3004px
}
.s_web_picture_save {
	background-position: left -8794px
}
.s_web_album_rename_16 {
	background-position: left -3292px
}
.s_web_link_delete {
	background-position: left -7562px
}
.s_web_phone {
	background-position: left -8475px
}
.s_web_x-green {
	background-position: left -10940px;
	width: 9px;
	height: 9px
}
.s_web_link_break {
	background-position: left -7545px
}
.s_web_star_blue_on {
	background-position: left -9755px;
	width: 11px;
	height: 11px
}
.s_web_search-icon-filepicker {
	background-position: left -9396px;
	width: 10px;
	height: 12px
}
.s_web_table_multiple {
	background-position: left -9978px
}
.s_web_package_go {
	background-position: left -8294px
}
.s_web_purge {
	background-position: left -8928px
}
.s_web_quota_full_32 {
	background-position: left -8978px;
	width: 32px;
	height: 32px
}
.s_web_nav-files {
	background-position: left -11988px
}
.s_web_install {
	background-position: left -11714px;
	width: 19px;
	height: 19px
}
.s_web_fla {
	background-position: left -34px
}
.s_web_forgot32 {
	background-position: left -6033px;
	width: 32px;
	height: 32px
}
.s_web_emoticon_smile {
	background-position: left -5415px
}
.s_web_heart {
	background-position: left -11696px;
	width: 17px;
	height: 17px
}
.s_web_folder_user_delete {
	background-position: left -5962px
}
.s_web_nav-photos {
	background-position: left -12039px
}
.s_web_links {
	background-position: left -7579px;
	width: 20px;
	height: 20px
}
.s_web_Chrome {
	background-position: left -2953px
}
.s_web_lock {
	background-position: left -11862px
}
.s_web_photos_32 {
	background-position: left -8560px;
	width: 32px;
	height: 32px
}
.s_web_team_reduce_user_32 {
	background-position: left -10028px;
	width: 32px;
	height: 32px
}
.s_web_accept {
	background-position: left -3038px
}
.s_web_api_ios_disabled {
	background-position: left -3582px
}
.s_web_palebluedot {
	background-position: left -8379px;
	width: 9px;
	height: 9px
}
.s_web_lightbox_selected {
	background-position: left -7296px
}
.s_web_white_x {
	background-position: left -10793px;
	width: 17px;
	height: 17px
}
.s_web_page_white_paint {
	background-position: left -255px
}
.s_web_white_pause {
	background-position: left -10759px
}
.s_web_send-to-contact {
	background-position: left -9409px;
	width: 24px;
	height: 24px
}
.s_web_folder_user_delete_32 {
	background-position: left -1018px;
	width: 32px;
	height: 32px
}
.s_web_mp3_gray_32 {
	background-position: left -1183px;
	width: 32px;
	height: 32px
}
.s_web_information {
	background-position: left -6877px
}
.s_web_sketch_32 {
	background-position: left -2371px;
	width: 32px;
	height: 32px
}
.s_web_tweet_36 {
	background-position: left -10367px;
	width: 36px;
	height: 36px
}
.s_web_folder_edit {
	background-position: left -2528px
}
.s_web_events_bubble_tail {
	background-position: left -5661px;
	width: 4px;
	height: 5px
}
.s_web_email_add_32 {
	background-position: left -5382px;
	width: 32px;
	height: 32px
}
.s_web_mp3-playlist_gray_32 {
	background-position: left -1117px;
	width: 32px;
	height: 32px
}
.s_web_moreinfo_24 {
	background-position: left -7930px;
	width: 24px;
	height: 24px
}
.s_web_lightbox_view_original {
	background-position: left -7363px;
	width: 32px;
	height: 32px
}
.s_web_briefcase {
	background-position: left -2713px;
	width: 20px;
	height: 20px
}
.s_web_page_white_webcode {
	background-position: left -340px
}
.s_web_create_new_album {
	background-position: left -5008px;
	width: 32px;
	height: 32px
}
.s_web_mac {
	background-position: left -7710px
}
.s_web_album_32 {
	background-position: left -3142px;
	width: 32px;
	height: 32px
}
.s_web_page_white_compressed {
	background-position: left -170px
}
.s_web_remove_from_album_32_padded {
	background-position: left -9247px;
	width: 32px;
	height: 32px
}
.s_web_preview_close_small {
	background-position: left -8896px;
	width: 14px;
	height: 14px
}
.s_web_api_ruby {
	background-position: left -3769px
}
.s_web_cake_32 {
	background-position: left -4489px;
	width: 32px;
	height: 32px
}
.s_web_cake_36 {
	background-position: left -4522px;
	width: 36px;
	height: 36px
}
.s_web_globe20 {
	background-position: left -6224px;
	width: 20px;
	height: 20px
}
.s_web_android_small_32 {
	background-position: left -3447px;
	width: 32px;
	height: 32px
}
.s_web_world_link {
	background-position: left -10896px
}
.s_web_page_white_gear_32 {
	background-position: left -1711px;
	width: 32px;
	height: 32px
}
.s_web_link20 {
	background-position: left -7396px;
	width: 20px;
	height: 20px
}
.s_web_personal_icon {
	background-position: left -2821px;
	width: 32px;
	height: 32px
}
.s_web_rename_icon {
	background-position: left -9280px;
	width: 32px;
	height: 32px
}
.s_web_application_add {
	background-position: left -3803px
}
.s_web_pr_gray_32 {
	background-position: left -2305px;
	width: 32px;
	height: 32px
}
.s_web_help {
	background-position: left -6673px
}
.s_web_ai_gray_32 {
	background-position: left -424px;
	width: 32px;
	height: 32px
}
.s_web_move {
	background-position: left -7955px
}
.s_web_folder_user_gray_32 {
	background-position: left -1051px;
	width: 32px;
	height: 32px
}
.s_web_group {
	background-position: left -6482px
}
.s_web_referral_gmail {
	background-position: left -9131px;
	width: 38px;
	height: 28px
}
.s_web_personal {
	background-position: left -2755px;
	width: 20px;
	height: 20px
}
.s_web_bullet_minus {
	background-position: left -11111px
}
.s_web_lock_go {
	background-position: left -7680px
}
.s_web_page_white_film_gray_32 {
	background-position: left -1678px;
	width: 32px;
	height: 32px
}
.s_web_package_edit {
	background-position: left -8277px
}
.s_web_event_share {
	background-position: left -5537px;
	width: 18px;
	height: 18px
}
.s_web_lock32 {
	background-position: left -7634px;
	width: 32px;
	height: 32px
}
.s_web_comments_down {
	background-position: left -4855px
}
.s_web_album_delete_16 {
	background-position: left -11067px;
	width: 19px;
	height: 19px
}
.s_web_events_32 {
	background-position: left -5598px;
	width: 32px;
	height: 32px
}
.s_web_page_white_dvd_32 {
	background-position: left -1513px;
	width: 32px;
	height: 32px
}
.s_web_creditcards {
	background-position: left -5041px
}
.s_web_folder_user_44 {
	background-position: left -5924px;
	width: 43px;
	height: 37px
}
.s_web_folder_arrow_32 {
	background-position: left -11576px;
	width: 32px;
	height: 32px
}
.s_web_photos_drag_add {
	background-position: left -8626px;
	width: 32px;
	height: 32px
}
.s_web_page_white_word_32 {
	background-position: left -2206px;
	width: 32px;
	height: 32px
}
.s_web_album_photos {
	background-position: left -3275px
}
.s_web_page_white_word {
	background-position: left -357px
}
.s_web_page_white_sound {
	background-position: left -306px
}
.s_web_lightbox_prev {
	background-position: left -11808px
}
.s_web_user_suit_minus {
	background-position: left -10641px
}
.s_web_page_white_excel_gray_32 {
	background-position: left -1612px;
	width: 32px;
	height: 32px
}
.s_web_lightbox_delete {
	background-position: left -7180px;
	width: 32px;
	height: 32px
}
.s_web_send_16 {
	background-position: left -9434px
}
.s_web_admin_console_18 {
	background-position: left -3105px;
	width: 18px;
	height: 19px
}
.s_web_bluex {
	background-position: left -4326px;
	width: 12px;
	height: 12px
}
.s_web_icon_chat {
	background-position: left -6741px;
	width: 15px;
	height: 14px
}
.s_web_all_albums {
	background-position: left -3397px;
	width: 32px;
	height: 32px
}
.s_web_white-trash {
	background-position: left -10740px;
	width: 18px;
	height: 18px
}
.s_web_exclamation {
	background-position: left -5667px
}
.s_web_heart_32 {
	background-position: left -6603px;
	width: 32px;
	height: 32px
}
.s_web_ai_32 {
	background-position: left -391px;
	width: 32px;
	height: 32px
}
.s_web_folder_user_36 {
	background-position: left -5887px;
	width: 36px;
	height: 36px
}
.s_web_folder_user_32 {
	background-position: left -952px;
	width: 32px;
	height: 32px
}
.s_web_email_delete {
	background-position: left -11515px;
	width: 19px;
	height: 19px
}
.s_web_star_blue_on_big {
	background-position: left -9767px;
	width: 14px;
	height: 13px
}
.s_web_api_java {
	background-position: left -3599px
}
.s_web_page_white_code_gray_32 {
	background-position: left -1414px;
	width: 32px;
	height: 32px
}
.s_web_photos_header_delete {
	background-position: left -8659px
}
.s_web_music_32 {
	background-position: left -8043px;
	width: 32px;
	height: 32px
}
.s_web_aol {
	background-position: left -3480px
}
.s_web_sync_36 {
	background-position: left -9891px;
	width: 36px;
	height: 36px
}
.s_web_user_add {
	background-position: left -12399px;
	width: 19px;
	height: 19px
}
.s_web_page_white_dvd_gray_32 {
	background-position: left -1546px;
	width: 32px;
	height: 32px
}
.s_web_x {
	background-position: left -10960px;
	width: 8px;
	height: 8px
}
.s_web_event_select {
	background-position: left -5518px;
	width: 18px;
	height: 18px
}
.s_web_rainbow_32 {
	background-position: left -9032px;
	width: 32px;
	height: 32px
}
.s_web_page_white_code_32 {
	background-position: left -1381px;
	width: 32px;
	height: 32px
}
.s_web_dropbox-folder_32 {
	background-position: left -523px;
	width: 32px;
	height: 32px
}
.s_web_comments_up {
	background-position: left -4872px
}
.s_web_photos_delete {
	background-position: left -8593px;
	width: 32px;
	height: 32px
}
.s_web_twitter_20 {
	background-position: left -10438px;
	width: 20px;
	height: 20px
}
.s_web_page_white_excel_32 {
	background-position: left -1579px;
	width: 32px;
	height: 32px
}
.s_web_emoticon_unhappy {
	background-position: left -5432px
}
.s_web_dropbox-folder_gray_32 {
	background-position: left -556px;
	width: 32px;
	height: 32px
}
.s_web_feed {
	background-position: left -5766px
}
.s_web_arrow_refresh_32 {
	background-position: left -4026px;
	width: 32px;
	height: 32px
}
.s_web_album_32_padded {
	background-position: left -3175px;
	width: 32px;
	height: 32px
}
.s_web_page_white_dvd {
	background-position: left -187px
}
.s_web_delete_gray {
	background-position: left -5125px
}
.s_web_page_white_gray_32 {
	background-position: left -1777px;
	width: 32px;
	height: 32px
}
.s_web_toggle_grid {
	background-position: left -10188px;
	width: 14px;
	height: 14px
}
.s_web_api_ruby_disabled {
	background-position: left -3786px
}
.s_web_lock_dark {
	background-position: left -7667px;
	width: 10px;
	height: 12px
}
.s_web_chevron {
	background-position: left -11201px;
	width: 7px;
	height: 11px
}
.s_web_coins_add {
	background-position: left -4771px
}
.s_web_lightbox_download {
	background-position: left -7213px;
	width: 32px;
	height: 32px
}
.s_web_wrench {
	background-position: left -10913px
}
.s_web_page_white_sound_gray_32 {
	background-position: left -2041px;
	width: 32px;
	height: 32px
}
.s_web_globe16 {
	background-position: left -6207px
}
.s_web_empty_album {
	background-position: left -5449px;
	width: 32px;
	height: 32px
}
.s_web_feed_32 {
	background-position: left -5783px;
	width: 32px;
	height: 32px
}
.s_web_palegraydot {
	background-position: left -8389px;
	width: 9px;
	height: 9px
}
.s_web_terms_teamsagreement {
	background-position: left -10132px
}
.s_web_delete_16 {
	background-position: left -11303px;
	width: 19px;
	height: 19px
}
.s_web_referral_yahoo {
	background-position: left -9220px;
	width: 53px;
	height: 26px
}
.s_web_gear {
	background-position: left -6150px;
	width: 19px;
	height: 19px
}
.s_web_page_white_powerpoint_32 {
	background-position: left -1942px;
	width: 32px;
	height: 32px
}
.s_web_trash-can-open {
	background-position: left -12319px;
	width: 19px;
	height: 19px
}
.s_web_more-gray {
	background-position: left -11895px;
	width: 19px;
	height: 19px
}
.s_web_lightbox_close {
	background-position: left -11734px
}
.s_web_lightbox_gear {
	background-position: left -7246px
}
.s_web_mp3_32 {
	background-position: left -1150px;
	width: 32px;
	height: 32px
}
.s_web_albums {
	background-position: left -3331px;
	width: 32px;
	height: 32px
}
.s_web_digg {
	background-position: left -5196px
}
.s_web_page_white_excel {
	background-position: left -204px
}
.s_web_application_delete {
	background-position: left -3853px
}
.s_web_team_add_user_32 {
	background-position: left -9995px;
	width: 32px;
	height: 32px
}
.s_web_minus {
	background-position: left -7809px
}
.s_web_add_gray {
	background-position: left -3055px
}
.s_web_computer_go {
	background-position: left -4957px
}
.s_web_syncing {
	background-position: left -9928px;
	width: 15px;
	height: 15px
}
.s_web_user_edit {
	background-position: left -10607px
}
.s_web_star_blue_half_big {
	background-position: left -9715px;
	width: 14px;
	height: 13px
}
.s_web_work_small {
	background-position: left -10845px
}
.s_web_blue_arrow_right_32 {
	background-position: left -4290px;
	width: 24px;
	height: 24px
}
.s_web_work_icon {
	background-position: left -2920px;
	width: 32px;
	height: 32px
}
.s_web_folder_public {
	background-position: left -2599px;
	width: 19px;
	height: 19px
}
.s_web_cashmunny {
	background-position: left -4630px;
	width: 36px;
	height: 36px
}
.s_web_page_white_compressed_32 {
	background-position: left -1447px;
	width: 32px;
	height: 32px
}
.s_web_folder_user_add_32 {
	background-position: left -985px;
	width: 32px;
	height: 32px
}
.s_web_event_add_to_album {
	background-position: left -5499px;
	width: 18px;
	height: 18px
}
.s_web_transmit {
	background-position: left -10283px
}
.s_web_page_white_picture {
	background-position: left -272px
}
.s_web_world_grey {
	background-position: left -10879px
}
.s_web_folder_user_blue {
	background-position: left -2676px
}
.s_web_arrow_left_white {
	background-position: left -3976px;
	width: 21px;
	height: 15px
}
.s_web_play {
	background-position: left -8849px;
	width: 7px;
	height: 12px
}
.s_web_printer {
	background-position: left -12186px;
	width: 17px;
	height: 17px
}
.s_web_link_16 {
	background-position: left -7417px
}
.s_web_fb_36 {
	background-position: left -5729px;
	width: 36px;
	height: 36px
}
.s_web_sales_36 {
	background-position: left -9342px;
	width: 36px;
	height: 36px
}
.s_web_letter {
	background-position: left -7067px;
	width: 64px;
	height: 64px
}
.s_web_folder_user_gray {
	background-position: left -5979px
}
.s_web_mobile {
	background-position: left -7826px;
	width: 36px;
	height: 36px
}
.s_web_page_white {
	background-position: left -119px
}
.s_web_alarm {
	background-position: left -3125px
}
.s_web_drive {
	background-position: left -5261px
}
.s_web_nosync {
	background-position: left -12073px;
	width: 17px;
	height: 17px
}
.s_web_upload_32 {
	background-position: left -10574px;
	width: 32px;
	height: 32px
}
.s_web_bomb {
	background-position: left -4339px
}
.s_web_weather_clouds_white {
	background-position: left -10723px
}
.s_web_android_small {
	background-position: left -3430px
}
.s_web_globe_gray_24x24 {
	background-position: left -6376px;
	width: 24px;
	height: 24px
}
.s_web_folder_camera_grau_32 {
	background-position: left -787px;
	width: 32px;
	height: 32px
}
.s_web_page_white_paint_gray_32 {
	background-position: left -1843px;
	width: 32px;
	height: 32px
}
.s_web_lightbox_next {
	background-position: left -11791px
}
.s_web_ums_heart_inactive_icon {
	background-position: left -10559px;
	width: 14px;
	height: 14px
}
.s_web_fla_32 {
	background-position: left -589px;
	width: 32px;
	height: 32px
}
.s_web_copy {
	background-position: left -11245px;
	width: 19px;
	height: 19px
}
.s_web_layout {
	background-position: left -7050px
}
.s_web_copyright {
	background-position: left -4991px
}
.s_web_folder_star {
	background-position: left -2619px
}
.s_web_album_new_32_padded {
	background-position: left -3242px;
	width: 32px;
	height: 32px
}
.s_web_rainbow_16 {
	background-position: left -2693px;
	width: 19px;
	height: 19px
}
.s_web_planet_20 {
	background-position: left -8828px;
	width: 20px;
	height: 20px
}
.s_web_photo {
	background-position: left -8492px
}
.s_web_folder {
	background-position: left -2437px;
	width: 19px;
	height: 19px
}
.s_web_mag_glass {
	background-position: left -11879px;
	width: 15px;
	height: 15px
}
.s_web_exclamation_32 {
	background-position: left -5684px;
	width: 26px;
	height: 27px
}
.s_web_audit_modal {
	background-position: left -4135px;
	width: 32px;
	height: 32px
}
.s_web_icon_checkmark {
	background-position: left -6756px;
	width: 20px;
	height: 14px
}
.s_web_report {
	background-position: left -9313px
}
.s_web_settings {
	background-position: left -12242px;
	width: 19px;
	height: 19px
}
.s_web_folder_gray_32 {
	background-position: left -820px;
	width: 32px;
	height: 32px
}
.s_web_page_white_go {
	background-position: left -12111px;
	width: 19px;
	height: 19px
}
.s_web_teams {
	background-position: left -10061px;
	width: 36px;
	height: 36px
}
.s_web_folder_app_32 {
	background-position: left -688px;
	width: 32px;
	height: 32px
}
.s_web_step-3 {
	background-position: left -9831px;
	width: 24px;
	height: 24px
}
.s_web_step-2 {
	background-position: left -9806px;
	width: 24px;
	height: 24px
}
.s_web_step-1 {
	background-position: left -9781px;
	width: 24px;
	height: 24px
}
.s_web_api_osx {
	background-position: left -3667px
}
.s_web_bullet_plus {
	background-position: left -11128px
}
.s_web_lnx {
	background-position: left -7617px
}
.s_web_download_arrow_white {
	background-position: left -5230px;
	width: 17px;
	height: 18px
}
.s_web_computer {
	background-position: left -4889px
}
.s_web_nav-personal {
	background-position: left -12022px
}
.s_web_arrow_white {
	background-position: left -4092px
}
.s_web_close {
	background-position: left -4737px
}
.s_web_page_white_text_gray_32 {
	background-position: left -2107px;
	width: 32px;
	height: 32px
}
.s_web_gmail {
	background-position: left -6465px
}
.s_web_fullscreen {
	background-position: left -6131px;
	width: 18px;
	height: 18px
}
.s_web_paste_plain {
	background-position: left -8399px
}
.s_web_pictures {
	background-position: left -12151px
}
.s_web_referral_lock {
	background-position: left -9187px;
	width: 10px;
	height: 14px
}
.s_web_arrow_turn_left {
	background-position: left -4075px
}
.s_web_tweet_32 {
	background-position: left -10334px;
	width: 32px;
	height: 32px
}
.s_web_star_16 {
	background-position: left -12282px;
	width: 19px;
	height: 19px
}
.s_web_user_suit {
	background-position: left -10624px
}
.s_web_star_blue_half {
	background-position: left -9703px;
	width: 11px;
	height: 11px
}
.s_web_folder_app_gray_32 {
	background-position: left -721px;
	width: 32px;
	height: 32px
}
.s_web_email {
	background-position: left -11421px;
	width: 19px;
	height: 19px
}
.s_web_jobs {
	background-position: left -7016px
}
.s_web_lightbox_delete_16 {
	background-position: left -11751px;
	width: 19px;
	height: 19px
}
.s_web_arrow-down-blue {
	background-position: left -11087px;
	width: 9px;
	height: 5px
}
.s_web_page_white_powerpoint {
	background-position: left -289px
}
.s_web_groupicon_small {
	background-position: left -6558px
}
.s_web_table_edit {
	background-position: left -9961px
}
.s_web_folder_photos {
	background-position: left -2565px
}
.s_web_add {
	background-position: left -11029px;
	width: 17px;
	height: 17px
}
.s_web_key {
	background-position: left -7033px
}
.s_web_synced {
	background-position: left -12302px
}
.s_web_page_white_webcode_gray_32 {
	background-position: left -2173px;
	width: 32px;
	height: 32px
}
.s_web_star_blue_off_big {
	background-position: left -9741px;
	width: 14px;
	height: 13px
}
.s_web_Firefox {
	background-position: left -2970px
}
.s_web_plugin {
	background-position: left -8862px
}
.s_web_cancel {
	background-position: left -11165px;
	width: 17px;
	height: 17px
}
.s_web_folder_user_20 {
	background-position: left -5866px;
	width: 20px;
	height: 20px
}
.s_web_album_stack_32 {
	background-position: left -3309px;
	width: 30px;
	height: 4px
}
.s_web_tour {
	background-position: left -10218px;
	width: 64px;
	height: 64px
}
.s_web_cog {
	background-position: left -11213px;
	width: 15px;
	height: 15px
}
.s_web_info_icon_32 {
	background-position: left -6844px;
	width: 32px;
	height: 32px
}
.s_web_comment {
	background-position: left -4788px
}
.s_web_terms_acceptableuse {
	background-position: left -10115px
}
.s_web_bricks {
	background-position: left -4382px
}
.s_web_mailbox_36 {
	background-position: left -7761px;
	width: 36px;
	height: 36px
}
.s_web_people_24 {
	background-position: left -8433px;
	width: 24px;
	height: 24px
}
.s_web_photo2 {
	background-position: left -8509px
}
.s_web_cancelsync {
	background-position: left -11183px;
	width: 17px;
	height: 17px
}
.s_web_package_32 {
	background-position: left -1216px;
	width: 32px;
	height: 32px
}
.s_web_linux {
	background-position: left -7600px
}
.s_web_application_add_32 {
	background-position: left -3820px;
	width: 32px;
	height: 32px
}
.s_web_giftbox_36 {
	background-position: left -6170px;
	width: 36px;
	height: 36px
}
.s_web_api_java_disabled {
	background-position: left -3616px
}
.s_web_page_white_text {
	background-position: left -323px
}
.s_web_pr {
	background-position: left -374px
}
.s_web_folder_add {
	background-position: left -2457px;
	width: 19px;
	height: 19px
}
.s_web_personal_44 {
	background-position: left -2776px;
	width: 44px;
	height: 44px
}
.s_web_rainbow_20 {
	background-position: left -9011px;
	width: 20px;
	height: 20px
}
.s_web_arrow-white {
	background-position: left -3931px;
	width: 8px;
	height: 10px
}
.s_web_twitter_32 {
	background-position: left -10459px;
	width: 32px;
	height: 32px
}
.s_web_twitter_36 {
	background-position: left -10492px;
	width: 36px;
	height: 36px
}
.s_web_lightbox_show_in_folder {
	background-position: left -7313px;
	width: 32px;
	height: 32px
}
.s_web_package_delete {
	background-position: left -8260px
}
.s_web_filter_down {
	background-position: left -5816px
}
.s_web_toggle_list {
	background-position: left -10203px;
	width: 14px;
	height: 14px
}
.s_web_heart-broken {
	background-position: left -11676px;
	width: 19px;
	height: 19px
}
.s_web_page_white_compressed_gray_32 {
	background-position: left -1480px;
	width: 32px;
	height: 32px
}
.s_web_folder_public_gray_32 {
	background-position: left -919px;
	width: 32px;
	height: 32px
}
.s_web_events_bubble_right {
	background-position: left -5646px;
	width: 2px;
	height: 14px
}
.s_web_calendar_view_month {
	background-position: left -11145px;
	width: 19px;
	height: 19px
}
.s_web_folder_camera_32 {
	background-position: left -754px;
	width: 32px;
	height: 32px
}
.s_web_accountswitch {
	background-position: left -11012px
}
.s_web_album_16 {
	background-position: left -11047px;
	width: 19px;
	height: 19px
}
.s_web_x_8 {
	background-position: left -10969px
}
.s_web_sound {
	background-position: left -9575px
}
.s_web_download_arrow {
	background-position: left -11343px;
	width: 19px;
	height: 19px
}
.s_web_fla_gray_32 {
	background-position: left -622px;
	width: 32px;
	height: 32px
}
.s_web_computer_edit {
	background-position: left -4940px
}
.s_web_view_original {
	background-position: left -10691px;
	width: 14px;
	height: 14px
}
.s_web_error {
	background-position: left -5482px
}
.s_web_newspaper {
	background-position: left -8143px
}
.s_web_rename {
	background-position: left -12204px;
	width: 19px;
	height: 19px
}
.s_web_referral_completed_32 {
	background-position: left -9081px;
	width: 32px;
	height: 32px
}
.s_web_link_32_padded {
	background-position: left -7467px;
	width: 32px;
	height: 32px
}
.s_web_telephone {
	background-position: left -10098px
}
.s_web_folder_camera {
	background-position: left -2511px
}
.s_web_music32 {
	background-position: left -7989px;
	width: 32px;
	height: 32px
}
.s_web_follow_36 {
	background-position: left -5996px;
	width: 36px;
	height: 36px
}
.s_web_folder_public_32 {
	background-position: left -886px;
	width: 32px;
	height: 32px
}
.s_web_cross {
	background-position: left -5058px
}
.s_web_events {
	background-position: left -5556px;
	width: 20px;
	height: 20px
}
.s_web_package_add {
	background-position: left -8243px
}
.s_web_wand {
	background-position: left -10706px
}
.s_web_icon_gray_x {
	background-position: left -6771px;
	width: 14px;
	height: 14px
}
.s_web_referral_gmail_white {
	background-position: left -9160px;
	width: 36px;
	height: 26px
}
.s_web_user {
	background-position: left -12379px;
	width: 19px;
	height: 19px
}
.s_web_step-done {
	background-position: left -9856px;
	width: 24px;
	height: 17px
}
.s_web_au_32 {
	background-position: left -457px;
	width: 32px;
	height: 32px
}
.s_web_xclose {
	background-position: left -12499px;
	width: 11px;
	height: 11px
}
.s_web_salesforce_cloud {
	background-position: left -9379px
}
.s_web_magnifier2 {
	background-position: left -7744px
}
.s_web_user_warn {
	background-position: left -12479px;
	width: 19px;
	height: 19px
}
.s_web_music_beam {
	background-position: left -8076px
}
.s_web_menu-right-arrow {
	background-position: left -7798px;
	width: 7px;
	height: 10px
}
.s_web_personal_small {
	background-position: left -8458px
}
.s_web_contact {
	background-position: left -4974px
}
.s_web_magnifier {
	background-position: left -7727px
}
.s_web_api_ios {
	background-position: left -3565px
}
.s_web_restore {
	background-position: left -12224px;
	width: 17px;
	height: 17px
}
.s_web_photos_16 {
	background-position: left -8543px
}
.s_web_globe_gray_30x30 {
	background-position: left -6401px;
	width: 30px;
	height: 30px
}
.s_web_arrow-up-blue {
	background-position: left -11099px;
	width: 9px;
	height: 5px
}
.s_web_fb_20 {
	background-position: left -11555px;
	width: 20px;
	height: 20px
}
.s_web_money {
	background-position: left -7880px
}
.s_web_gs-incomplete {
	background-position: left -11651px;
	width: 24px;
	height: 24px
}
.s_web_xclose-gray {
	background-position: left -10986px;
	width: 8px;
	height: 8px
}
.s_web_spacerace_planet_36 {
	background-position: left -9629px;
	width: 36px;
	height: 36px
}
.s_web_world {
	background-position: left -10862px
}
.s_web_arrowright {
	background-position: left -4122px;
	width: 12px;
	height: 12px
}
.s_web_globe_blue_20x20 {
	background-position: left -6278px;
	width: 20px;
	height: 20px
}
.s_web_api_php {
	background-position: left -3701px
}
.s_web_desktop {
	background-position: left -5142px;
	width: 36px;
	height: 36px
}
.s_web_blog {
	background-position: left -4273px
}
.s_web_settings_36 {
	background-position: left -9468px;
	width: 36px;
	height: 36px
}
.s_web_page_white_picture_32 {
	background-position: left -1876px;
	width: 32px;
	height: 32px
}
.s_web_computer_delete {
	background-position: left -4923px
}
.s_web_pill {
	background-position: left -8811px
}
.s_web_ipad_small {
	background-position: left -6894px
}
.s_web_page_white_32 {
	background-position: left -1282px;
	width: 32px;
	height: 32px
}
.s_web_arrow_out_black {
	background-position: left -3992px
}
.s_web_tick {
	background-position: left -10149px
}
.s_web_user_delete {
	background-position: left -12419px;
	width: 19px;
	height: 19px
}
.s_web_previousversions {
	background-position: left -12168px;
	width: 17px;
	height: 17px
}
.s_web_developers {
	background-position: left -5179px
}
.s_web_gift {
	background-position: left -11609px
}
.s_web_server {
	background-position: left -9451px
}
.s_web_lightbox_more {
	background-position: left -11771px;
	width: 19px;
	height: 19px
}
.s_web_work_44 {
	background-position: left -2875px;
	width: 44px;
	height: 44px
}
.s_web_numbers_gray_32 {
	background-position: left -8193px;
	width: 32px;
	height: 32px
}
.s_web_arrow-down-gray {
	background-position: left -11093px;
	width: 9px;
	height: 5px
}
.s_web_move_16 {
	background-position: left -11935px;
	width: 19px;
	height: 19px
}
.s_web_picture {
	background-position: left -8757px;
	width: 36px;
	height: 36px
}
.s_web_monkey_32 {
	background-position: left -7897px;
	width: 32px;
	height: 32px
}
.s_web_twitter {
	background-position: left -10421px
}
.s_web_dropbox_32 {
	background-position: left -5316px;
	width: 32px;
	height: 32px
}
.s_web_application_delete_32 {
	background-position: left -3870px;
	width: 32px;
	height: 32px
}
.s_web_dropbox21x20 {
	background-position: left -11363px;
	width: 21px;
	height: 20px
}
.s_web_link_44 {
	background-position: left -7500px;
	width: 44px;
	height: 44px
}
.s_web_camerauploads_20 {
	background-position: left -4576px;
	width: 20px;
	height: 20px
}
.s_web_folder_photos_32 {
	background-position: left -853px;
	width: 32px;
	height: 32px
}
.s_web_pricing {
	background-position: left -8911px
}
.s_web_table {
	background-position: left -9944px
}
.s_web_home {
	background-position: left -6724px
}
.s_web_check_36 {
	background-position: left -4700px;
	width: 36px;
	height: 36px
}
.s_web_page_white_acrobat {
	background-position: left -136px
}
.s_web_glyph {
	background-position: left -6432px;
	width: 32px;
	height: 32px
}
.s_web_notifications_icon {
	background-position: left -12091px;
	width: 19px;
	height: 19px
}
.s_web_referral_twitter {
	background-position: left -9202px;
	width: 20px;
	height: 17px
}
.s_web_folder_32 {
	background-position: left -655px;
	width: 32px;
	height: 32px
}
.s_web_comments {
	background-position: left -4805px
}
.s_web_dropbox_39x36 {
	background-position: left -11384px;
	width: 39px;
	height: 36px
}
.s_web_page_white_powerpoint_gray_32 {
	background-position: left -1975px;
	width: 32px;
	height: 32px
}
.s_web_blackberry {
	background-position: left -4223px
}
.s_web_add_to_album_32_padded {
	background-position: left -3072px;
	width: 32px;
	height: 32px
}
.s_web_image_placeholder {
	background-position: left -6811px;
	width: 32px;
	height: 32px
}
.s_web_sketch_gray_32 {
	background-position: left -2404px;
	width: 32px;
	height: 32px
}
.s_web_business {
	background-position: left -4416px;
	width: 34px;
	height: 34px
}
.s_web_iphone_small {
	background-position: left -6966px
}
.s_web_packrat {
	background-position: left -8311px
}
.s_web_groups_unsync {
	background-position: left -6589px;
	width: 15px;
	height: 13px
}
.s_web_api_python {
	background-position: left -3735px
}
.s_web_trash-can {
	background-position: left -12339px;
	width: 19px;
	height: 19px
}
.s_web_numbers_32 {
	background-position: left -8160px;
	width: 32px;
	height: 32px
}
.s_web_package {
	background-position: left -102px
}
.s_web_alert_32 {
	background-position: left -3364px;
	width: 32px;
	height: 32px
}
.s_web_shield {
	background-position: left -9538px;
	width: 36px;
	height: 36px
}
.s_web_quota_almost_full_32 {
	background-position: left -8945px;
	width: 32px;
	height: 32px
}
.s_web_plus {
	background-position: left -8879px
}
.s_web_arrow_highlight {
	background-position: left -3959px
}
.s_web_business_16 {
	background-position: left -4451px
}
.s_web_star_blue_off {
	background-position: left -9729px;
	width: 11px;
	height: 11px
}
.s_web_page_white_code {
	background-position: left -153px
}
.s_web_api_http {
	background-position: left -3531px
}
.s_web_arrow-up-gray {
	background-position: left -11105px;
	width: 9px;
	height: 5px
}
.s_web_groups_sync {
	background-position: left -6575px;
	width: 15px;
	height: 13px
}
.s_web_cog_16 {
	background-position: left -11229px;
	width: 15px;
	height: 15px
}
.s_web_x-house-ad {
	background-position: left -10950px;
	width: 9px;
	height: 9px
}
.s_web_album_members {
	background-position: left -3208px
}
.s_web_signout {
	background-position: left -12262px;
	width: 19px;
	height: 19px
}
.s_web_email_20 {
	background-position: left -11441px;
	width: 20px;
	height: 20px
}
.s_web_arrow_refresh {
	background-position: left -4009px
}
.s_web_lightbox_unselected {
	background-position: left -7346px
}
.s_web_api_osx_disabled {
	background-position: left -3684px
}
.s_web_rounded_tl {
	background-position: left -9330px;
	width: 5px;
	height: 5px
}
.s_web_paypal {
	background-position: left -8416px
}
.s_web_tweet_small {
	background-position: left -10404px
}
.s_web_photos_20 {
	background-position: left -2854px;
	width: 20px;
	height: 20px
}
.s_web_globe_gray_20x20 {
	background-position: left -6355px;
	width: 20px;
	height: 20px
}
.s_web_link {
	background-position: left -11825px;
	width: 17px;
	height: 16px
}
.s_web_rounded_tr {
	background-position: left -9336px;
	width: 5px;
	height: 5px
}
.s_web_bug {
	background-position: left -4399px
}
.s_web_page_white_film_32 {
	background-position: left -1645px;
	width: 32px;
	height: 32px
}
.s_web_arrowleft {
	background-position: left -4109px;
	width: 12px;
	height: 12px
}
.s_web_sharing_32 {
	background-position: left -9505px;
	width: 32px;
	height: 32px
}
.s_web_downtick-spacer {
	background-position: left -5249px;
	width: 11px;
	height: 11px
}
.s_web_lock_light {
	background-position: left -7697px;
	width: 10px;
	height: 12px
}
.s_web_windows {
	background-position: left -10828px
}
.s_web_InternetExplorer {
	background-position: left -2987px
}
.s_web_cake {
	background-position: left -4468px;
	width: 20px;
	height: 20px
}
.s_web_spacerace_abduction_36 {
	background-position: left -9592px;
	width: 36px;
	height: 36px
}
.s_web_page_white_picture_gray_32 {
	background-position: left -1909px;
	width: 32px;
	height: 32px
}
.s_web_events_bubble_left {
	background-position: left -5631px;
	width: 2px;
	height: 14px
}
.s_web_delete {
	background-position: left -11285px;
	width: 17px;
	height: 17px
}
.s_web_folder_user {
	background-position: left -2636px;
	width: 19px;
	height: 19px
}
.s_web_ai {
	background-position: left 0px
}
.s_web_arrow-blue {
	background-position: left -3920px;
	width: 8px;
	height: 10px
}
.s_web_globe_blue_30x30 {
	background-position: left -6324px;
	width: 30px;
	height: 30px
}
.s_web_tshirt {
	background-position: left -10317px
}
.s_web_au {
	background-position: left -17px
}
.s_web_email_add {
	background-position: left -11495px;
	width: 19px;
	height: 19px
}
.s_web_file {
	background-position: left -2734px;
	width: 20px;
	height: 20px
}
.s_web_page_white_acrobat_gray_32 {
	background-position: left -1348px;
	width: 32px;
	height: 32px
}
.s_web_check {
	background-position: left -4684px;
	width: 15px;
	height: 15px
}
.s_web_link_white {
	background-position: left -11842px;
	width: 19px;
	height: 19px
}
.s_web_groupicon_20 {
	background-position: left -6516px;
	width: 20px;
	height: 20px
}
.s_web_iphone_small_32 {
	background-position: left -6983px;
	width: 32px;
	height: 32px
}
.s_web_folder_user_add {
	background-position: left -2656px;
	width: 19px;
	height: 19px
}
.s_web_globe32 {
	background-position: left -6245px;
	width: 32px;
	height: 32px
}
.s_web_page_white_sound_32 {
	background-position: left -2008px;
	width: 32px;
	height: 32px
}
.s_web_book {
	background-position: left -4356px
}
.s_web_door_in {
	background-position: left -5213px
}
.s_web_delete_32 {
	background-position: left -5092px;
	width: 32px;
	height: 32px
}
.s_web_photos_sidebar_check {
	background-position: left -8742px;
	width: 19px;
	height: 14px
}
.s_web_api_http_disabled {
	background-position: left -3548px
}
.s_web_album_videos {
	background-position: left -3314px
}
.s_web_heart_36 {
	background-position: left -6636px;
	width: 36px;
	height: 36px
}
.s_web_blue_x {
	background-position: left -4315px;
	width: 10px;
	height: 10px
}
.s_web_time {
	background-position: left -10166px
}
.s_web_yahoo {
	background-position: left -10995px
}
.s_web_breadcrumb {
	background-position: left -4373px;
	width: 6px;
	height: 8px
}
.s_web_forums64 {
	background-position: left -6066px;
	width: 64px;
	height: 64px
}
.s_web_mp3-playlist_32 {
	background-position: left -1084px;
	width: 32px;
	height: 32px
}
.s_web_dropbox {
	background-position: left -5278px
}
.s_web_user_gray {
	background-position: left -12459px;
	width: 19px;
	height: 19px
}
.s_web_comments_32 {
	background-position: left -4822px;
	width: 32px;
	height: 32px
}
.s_web_photos {
	background-position: left -8526px
}
.s_web_page_white_film {
	background-position: left -221px
}
.s_web_shared_folder_joined_32 {
	background-position: left -2338px;
	width: 32px;
	height: 32px
}
.s_web_chart_bar {
	background-position: left -4667px
}
.s_web_packrat_leave {
	background-position: left -8328px;
	width: 32px;
	height: 16px
}
.s_web_page_white_gear_gray_32 {
	background-position: left -1744px;
	width: 32px;
	height: 32px
}
.s_web_group_add {
	background-position: left -6499px
}
