@charset "utf-8";
/* CSS Document */

.sprite_web {
	width: 16px;
	height: 16px;
        /*https://www.dropbox.com/static/images/sprites/web_sprites-vfl0GXWGe.png*/
	/*background-image: url(/static/images/sprites/web_sprites-vfl0GXWGe.png);*/
        background-image: url(img/web_sprites-vfl0GXWGe.png);
	background-repeat: no-repeat
}
.s_web_osx {
	background-position: left -5553px
}
.s_web_Chrome {
	background-position: left 0px
}
.s_web_page_white_visualstudio_32 {
	background-position: left -8264px;
	width: 32px;
	height: 32px
}
.s_web_folder_app {
	background-position: left -2665px
}
.s_web_page_paste {
	background-position: left -5755px
}
.s_web_events_20 {
	background-position: left -2349px;
	width: 20px;
	height: 20px
}
.s_web_transmit_gray {
	background-position: left -10182px
}
.s_web_email_go {
	background-position: left -2227px
}
.s_web_lightbox_add_to_album {
	background-position: left -4366px;
	width: 32px;
	height: 32px
}
.s_web_computer_add {
	background-position: left -1544px
}
.s_web_folder_delete_32 {
	background-position: left -2815px;
	width: 32px;
	height: 32px
}
.s_web_pricing {
	background-position: left -8906px
}
.s_web_big-dropdown-gray {
	background-position: left -843px
}
.s_web_arrow_right_white {
	background-position: left -730px;
	width: 21px;
	height: 15px
}
.s_web_page_white_c {
	background-position: left -6005px
}
.s_web_link_32 {
	background-position: left -4740px;
	width: 32px;
	height: 32px
}
.s_web_folder_gray {
	background-position: left -2898px
}
.s_web_facebook {
	background-position: left -2456px
}
.s_web_mobile_16 {
	background-position: left -5182px
}
.s_web_ums_heart_active_icon {
	background-position: left -10411px;
	width: 14px;
	height: 14px
}
.s_web_page_white_word_gray_32 {
	background-position: left -8380px;
	width: 32px;
	height: 32px
}
.s_web_icon_green_checkmark {
	background-position: left -4019px;
	width: 24px;
	height: 24px
}
.s_web_page_white_cup_gray_32 {
	background-position: left -6520px;
	width: 32px;
	height: 32px
}
.s_web_email_delete {
	background-position: left -2210px
}
.s_web_help2 {
	background-position: left -3891px
}
.s_web_application_double {
	background-position: left -574px
}
.s_web_music_20 {
	background-position: left -5333px;
	width: 20px;
	height: 20px
}
.s_web_page_white_up_32 {
	background-position: left -8131px;
	width: 32px;
	height: 32px
}
.s_web_package_gray_32 {
	background-position: left -5688px;
	width: 32px;
	height: 32px
}
.s_web_timeline_dot {
	background-position: left -10065px;
	width: 4px;
	height: 4px
}
.s_web_sync {
	background-position: left -9806px
}
.s_web_page_white_vector_gray_32 {
	background-position: left -8214px;
	width: 32px;
	height: 32px
}
.s_web_basics_36 {
	background-position: left -806px;
	width: 36px;
	height: 36px
}
.s_web_download {
	background-position: left -1902px
}
.s_web_page_white_csharp {
	background-position: left -6387px
}
.s_web_hide_del {
	background-position: left -3925px
}
.s_web_page_white_paint_32 {
	background-position: left -7367px;
	width: 32px;
	height: 32px
}
.s_web_ipad_small_32 {
	background-position: left -4128px;
	width: 32px;
	height: 32px
}
.s_web_Safari {
	background-position: left -68px
}
.s_web_new {
	background-position: left -5404px
}
.s_web_blackberry_32 {
	background-position: left -912px;
	width: 32px;
	height: 32px
}
.s_web_view_all_albums {
	background-position: left -10642px;
	width: 32px;
	height: 32px
}
.s_web_dropbox_20 {
	background-position: left -2035px;
	width: 20px;
	height: 20px
}
.s_web_camerauploads_32 {
	background-position: left -1219px;
	width: 32px;
	height: 32px
}
.s_web_page_white_edit_32 {
	background-position: left -6670px;
	width: 32px;
	height: 32px
}
.s_web_emoticon_smile {
	background-position: left -2244px
}
.s_web_page_white_get_32 {
	background-position: left -7052px;
	width: 32px;
	height: 32px
}
.s_web_ums_heart_depressed_icon {
	background-position: left -10426px;
	width: 14px;
	height: 14px
}
.s_web_java_small {
	background-position: left -4233px
}
.s_web_upload_16 {
	background-position: left -10456px
}
.s_web_page_white_vector {
	background-position: left -8164px
}
.s_web_lightbox_remove_from_album {
	background-position: left -4533px;
	width: 32px;
	height: 32px
}
.s_web_python_small {
	background-position: left -8940px
}
.s_web_win {
	background-position: left -10780px
}
.s_web_redx {
	background-position: left -9028px;
	width: 15px;
	height: 15px
}
.s_web_new_album {
	background-position: left -5421px;
	width: 32px;
	height: 32px
}
.s_web_page_white_jef {
	background-position: left -7234px;
	width: 32px;
	height: 32px
}
.s_web_page_white_gear {
	background-position: left -6952px
}
.s_web_page_white_acrobat_32 {
	background-position: left -5839px;
	width: 32px;
	height: 32px
}
.s_web_page_white_text_32 {
	background-position: left -7965px;
	width: 32px;
	height: 32px
}
.s_web_page_white_stack {
	background-position: left -7931px
}
.s_web_coins {
	background-position: left -1426px
}
.s_web_arrow_down_grey_small {
	background-position: left -613px
}
.s_web_camera {
	background-position: left -1181px
}
.s_web_music {
	background-position: left -5283px
}
.s_web_iphone {
	background-position: left -4161px;
	width: 14px;
	height: 21px
}
.s_web_page_white_php_gray_32 {
	background-position: left -7483px;
	width: 32px;
	height: 32px
}
.s_web_star_36 {
	background-position: left -9598px;
	width: 36px;
	height: 36px
}
.s_web_photos_show_in_folder {
	background-position: left -8685px;
	width: 32px;
	height: 32px
}
.s_web_pencil {
	background-position: left -8467px
}
.s_web_page_white_cplusplus_32 {
	background-position: left -6321px;
	width: 32px;
	height: 32px
}
.s_web_Opera {
	background-position: left -51px
}
.s_web_picture_save {
	background-position: left -8770px
}
.s_web_album_rename_16 {
	background-position: left -286px
}
.s_web_link_delete {
	background-position: left -4868px
}
.s_web_phone {
	background-position: left -8501px
}
.s_web_accept {
	background-position: left -85px
}
.s_web_link_break {
	background-position: left -4851px
}
.s_web_star_blue_on {
	background-position: left -9687px;
	width: 11px;
	height: 11px
}
.s_web_search-icon-filepicker {
	background-position: left -9228px;
	width: 10px;
	height: 12px
}
.s_web_package_go {
	background-position: left -5671px
}
.s_web_purge {
	background-position: left -8923px
}
.s_web_sort-uptick-off {
	background-position: left -9470px;
	width: 9px;
	height: 9px
}
.s_web_folder_camera {
	background-position: left -2765px
}
.s_web_install {
	background-position: left -4094px
}
.s_web_forgot32 {
	background-position: left -3481px;
	width: 32px;
	height: 32px
}
.s_web_folder_share_32 {
	background-position: left -3098px;
	width: 32px;
	height: 32px
}
.s_web_heart {
	background-position: left -3787px
}
.s_web_folder_user_delete {
	background-position: left -3344px
}
.s_web_links {
	background-position: left -4921px;
	width: 20px;
	height: 20px
}
.s_web_page_white_go_32 {
	background-position: left -7102px;
	width: 32px;
	height: 32px
}
.s_web_lock {
	background-position: left -4976px
}
.s_web_calendar_view_month {
	background-position: left -1164px
}
.s_web_table_multiple {
	background-position: left -9926px
}
.s_web_palebluedot {
	background-position: left -8413px;
	width: 9px;
	height: 9px
}
.s_web_lightbox_selected {
	background-position: left -4566px
}
.s_web_white_x {
	background-position: left -10762px;
	width: 17px;
	height: 17px
}
.s_web_page_white_paint {
	background-position: left -7350px
}
.s_web_white_pause {
	background-position: left -10728px
}
.s_web_folder_user_delete_32 {
	background-position: left -3361px;
	width: 32px;
	height: 32px
}
.s_web_information {
	background-position: left -4077px
}
.s_web_page_white_tux_gray_32 {
	background-position: left -8098px;
	width: 32px;
	height: 32px
}
.s_web_folder_edit {
	background-position: left -2881px
}
.s_web_events_bubble_tail {
	background-position: left -2433px;
	width: 4px;
	height: 5px
}
.s_web_page_white_put {
	background-position: left -7682px
}
.s_web_tweet_32 {
	background-position: left -10216px;
	width: 32px;
	height: 32px
}
.s_web_lightbox_view_original {
	background-position: left -4633px;
	width: 32px;
	height: 32px
}
.s_web_white-trash {
	background-position: left -10709px;
	width: 18px;
	height: 18px
}
.s_web_folder_arrow_32 {
	background-position: left -2715px;
	width: 32px;
	height: 32px
}
.s_web_aol {
	background-position: left -457px
}
.s_web_mac {
	background-position: left -5077px
}
.s_web_page_white_compressed {
	background-position: left -6171px
}
.s_web_remove_from_album_32_padded {
	background-position: left -9044px;
	width: 32px;
	height: 32px
}
.s_web_permdelete {
	background-position: left -8484px
}
.s_web_sort-uptick-on {
	background-position: left -9480px;
	width: 9px;
	height: 9px
}
.s_web_cake_32 {
	background-position: left -1094px;
	width: 32px;
	height: 32px
}
.s_web_cake_36 {
	background-position: left -1127px;
	width: 36px;
	height: 36px
}
.s_web_android_small_32 {
	background-position: left -424px;
	width: 32px;
	height: 32px
}
.s_web_world_link {
	background-position: left -10848px
}
.s_web_page_white_gear_32 {
	background-position: left -6969px;
	width: 32px;
	height: 32px
}
.s_web_link20 {
	background-position: left -4702px;
	width: 20px;
	height: 20px
}
.s_web_page_white_visualstudio {
	background-position: left -8247px
}
.s_web_wrench {
	background-position: left -10865px
}
.s_web_previousversions {
	background-position: left -8889px
}
.s_web_sort-downtick-off {
	background-position: left -9450px;
	width: 9px;
	height: 9px
}
.s_web_application_add {
	background-position: left -474px
}
.s_web_help {
	background-position: left -3874px
}
.s_web_page_white_copy_32 {
	background-position: left -6271px;
	width: 32px;
	height: 32px
}
.s_web_move {
	background-position: left -5249px
}
.s_web_report {
	background-position: left -9111px
}
.s_web_folder_user_gray_32 {
	background-position: left -3411px;
	width: 32px;
	height: 32px
}
.s_web_page_white_delete {
	background-position: left -6553px
}
.s_web_group {
	background-position: left -3753px
}
.s_web_bullet_minus {
	background-position: left -1039px
}
.s_web_page_white_film_gray_32 {
	background-position: left -6836px;
	width: 32px;
	height: 32px
}
.s_web_package_edit {
	background-position: left -5654px
}
.s_web_lock32 {
	background-position: left -4993px;
	width: 32px;
	height: 32px
}
.s_web_album_delete_16 {
	background-position: left -236px
}
.s_web_events_32 {
	background-position: left -2370px;
	width: 32px;
	height: 32px
}
.s_web_page_white_dvd_32 {
	background-position: left -6587px;
	width: 32px;
	height: 32px
}
.s_web_creditcards {
	background-position: left -1696px
}
.s_web_folder_user_44 {
	background-position: left -3256px;
	width: 43px;
	height: 37px
}
.s_web_photos_drag_add {
	background-position: left -8602px;
	width: 32px;
	height: 32px
}
.s_web_page_white_word_32 {
	background-position: left -8347px;
	width: 32px;
	height: 32px
}
.s_web_page_white_h_32 {
	background-position: left -7168px;
	width: 32px;
	height: 32px
}
.s_web_lightbox_prev {
	background-position: left -4516px
}
.s_web_user_suit_minus {
	background-position: left -10625px
}
.s_web_page_white_csharp_32 {
	background-position: left -6404px;
	width: 32px;
	height: 32px
}
.s_web_lightbox_delete {
	background-position: left -4416px;
	width: 32px;
	height: 32px
}
.s_web_send_16 {
	background-position: left -9241px
}
.s_web_icon_chat {
	background-position: left -3974px;
	width: 15px;
	height: 14px
}
.s_web_all_albums {
	background-position: left -374px;
	width: 32px;
	height: 32px
}
.s_web_exclamation {
	background-position: left -2439px
}
.s_web_heart_32 {
	background-position: left -3804px;
	width: 32px;
	height: 32px
}
.s_web_folder_user_36 {
	background-position: left -3219px;
	width: 36px;
	height: 36px
}
.s_web_folder_user_32 {
	background-position: left -3186px;
	width: 32px;
	height: 32px
}
.s_web_white_play {
	background-position: left -10745px
}
.s_web_star_blue_on_big {
	background-position: left -9699px;
	width: 14px;
	height: 13px
}
.s_web_page_white_code_gray_32 {
	background-position: left -6138px;
	width: 32px;
	height: 32px
}
.s_web_photos_header_delete {
	background-position: left -8635px
}
.s_web_music_32 {
	background-position: left -5354px;
	width: 32px;
	height: 32px
}
.s_web_page_white_actionscript {
	background-position: left -5905px
}
.s_web_sync_36 {
	background-position: left -9823px;
	width: 36px;
	height: 36px
}
.s_web_user_add {
	background-position: left -10523px
}
.s_web_page_white_dvd_gray_32 {
	background-position: left -6620px;
	width: 32px;
	height: 32px
}
.s_web_x {
	background-position: left -10892px;
	width: 8px;
	height: 8px
}
.s_web_page_white_tux_32 {
	background-position: left -8065px;
	width: 32px;
	height: 32px
}
.s_web_rainbow_32 {
	background-position: left -8995px;
	width: 32px;
	height: 32px
}
.s_web_page_white_code_32 {
	background-position: left -6105px;
	width: 32px;
	height: 32px
}
.s_web_photos_delete {
	background-position: left -8569px;
	width: 32px;
	height: 32px
}
.s_web_twitter_20 {
	background-position: left -10320px;
	width: 20px;
	height: 20px
}
.s_web_page_white_excel_32 {
	background-position: left -6720px;
	width: 32px;
	height: 32px
}
.s_web_emoticon_unhappy {
	background-position: left -2261px
}
.s_web_page_white_cplusplus_gray_32 {
	background-position: left -6354px;
	width: 32px;
	height: 32px
}
.s_web_feed {
	background-position: left -2531px
}
.s_web_arrow_refresh_32 {
	background-position: left -697px;
	width: 32px;
	height: 32px
}
.s_web_album_32_padded {
	background-position: left -203px;
	width: 32px;
	height: 32px
}
.s_web_page_white_dvd {
	background-position: left -6570px
}
.s_web_page_white_c_32 {
	background-position: left -6022px;
	width: 32px;
	height: 32px
}
.s_web_delete_gray {
	background-position: left -1797px
}
.s_web_page_white_gray_32 {
	background-position: left -7135px;
	width: 32px;
	height: 32px
}
.s_web_toggle_grid {
	background-position: left -10070px;
	width: 14px;
	height: 14px
}
.s_web_page_white_sound {
	background-position: left -7848px
}
.s_web_coins_add {
	background-position: left -1443px
}
.s_web_lightbox_download {
	background-position: left -4449px;
	width: 32px;
	height: 32px
}
.s_web_page_white_sound_gray_32 {
	background-position: left -7898px;
	width: 32px;
	height: 32px
}
.s_web_icon-gear {
	background-position: left -3959px;
	width: 14px;
	height: 14px
}
.s_web_globe16 {
	background-position: left -3686px
}
.s_web_empty_album {
	background-position: left -2278px;
	width: 32px;
	height: 32px
}
.s_web_black_phone {
	background-position: left -877px;
	width: 11px;
	height: 17px
}
.s_web_palegraydot {
	background-position: left -8423px;
	width: 9px;
	height: 9px
}
.s_web_terms_teamsagreement {
	background-position: left -10014px
}
.s_web_lightbox_close {
	background-position: left -4399px
}
.s_web_photos_share {
	background-position: left -8652px;
	width: 32px;
	height: 32px
}
.s_web_big-dropdown {
	background-position: left -860px
}
.s_web_gear {
	background-position: left -3598px
}
.s_web_page_white_powerpoint_32 {
	background-position: left -7616px;
	width: 32px;
	height: 32px
}
.s_web_rainbow_16 {
	background-position: left -8957px
}
.s_web_delete_16 {
	background-position: left -1747px
}
.s_web_lightbox_gear {
	background-position: left -4482px
}
.s_web_albums {
	background-position: left -308px;
	width: 32px;
	height: 32px
}
.s_web_digg {
	background-position: left -1868px
}
.s_web_page_white_text_width {
	background-position: left -8031px
}
.s_web_page_white_excel {
	background-position: left -6703px
}
.s_web_page_white_flash {
	background-position: left -6869px
}
.s_web_application_delete {
	background-position: left -524px
}
.s_web_minus {
	background-position: left -5128px
}
.s_web_show-deleted {
	background-position: left -9416px
}
.s_web_add_gray {
	background-position: left -136px
}
.s_web_computer_go {
	background-position: left -1595px
}
.s_web_syncing {
	background-position: left -9876px;
	width: 15px;
	height: 15px
}
.s_web_user_edit {
	background-position: left -10557px
}
.s_web_star_blue_half_big {
	background-position: left -9647px;
	width: 14px;
	height: 13px
}
.s_web_page_white_actionscript_32 {
	background-position: left -5922px;
	width: 32px;
	height: 32px
}
.s_web_folder_public {
	background-position: left -3015px
}
.s_web_page_white_cup {
	background-position: left -6470px
}
.s_web_cashmunny {
	background-position: left -1285px;
	width: 36px;
	height: 36px
}
.s_web_page_white_compressed_32 {
	background-position: left -6188px;
	width: 32px;
	height: 32px
}
.s_web_folder_user_add_32 {
	background-position: left -3311px;
	width: 32px;
	height: 32px
}
.s_web_transmit {
	background-position: left -10165px
}
.s_web_page_white_picture {
	background-position: left -7516px
}
.s_web_world_grey {
	background-position: left -10831px
}
.s_web_arrow_left_white {
	background-position: left -647px;
	width: 21px;
	height: 15px
}
.s_web_play {
	background-position: left -8842px;
	width: 7px;
	height: 12px
}
.s_web_page_white_get {
	background-position: left -7035px
}
.s_web_lock_go {
	background-position: left -5026px
}
.s_web_fb_36 {
	background-position: left -2494px;
	width: 36px;
	height: 36px
}
.s_web_page_white_c_gray_32 {
	background-position: left -6055px;
	width: 32px;
	height: 32px
}
.s_web_sales_36 {
	background-position: left -9174px;
	width: 36px;
	height: 36px
}
.s_web_letter {
	background-position: left -4301px;
	width: 64px;
	height: 64px
}
.s_web_folder_user_gray {
	background-position: left -3394px
}
.s_web_mobile {
	background-position: left -5145px;
	width: 36px;
	height: 36px
}
.s_web_page_white {
	background-position: left -5772px
}
.s_web_alarm {
	background-position: left -186px
}
.s_web_drive {
	background-position: left -1967px
}
.s_web_upload_32 {
	background-position: left -10473px;
	width: 32px;
	height: 32px
}
.s_web_bomb {
	background-position: left -962px
}
.s_web_weather_clouds_white {
	background-position: left -10692px
}
.s_web_android_small {
	background-position: left -407px
}
.s_web_page_white_flash_gray_32 {
	background-position: left -6919px;
	width: 32px;
	height: 32px
}
.s_web_page_white_paint_gray_32 {
	background-position: left -7400px;
	width: 32px;
	height: 32px
}
.s_web_ums_heart_inactive_icon {
	background-position: left -10441px;
	width: 14px;
	height: 14px
}
.s_web_shield {
	background-position: left -9379px;
	width: 36px;
	height: 36px
}
.s_web_copy {
	background-position: left -1629px
}
.s_web_layout {
	background-position: left -4284px
}
.s_web_copyright {
	background-position: left -1646px
}
.s_web_folder_star {
	background-position: left -3131px
}
.s_web_album_new_32_padded {
	background-position: left -253px;
	width: 32px;
	height: 32px
}
.s_web_page_white_visualstudio_gray_32 {
	background-position: left -8297px;
	width: 32px;
	height: 32px
}
.s_web_planet_20 {
	background-position: left -8821px;
	width: 20px;
	height: 20px
}
.s_web_photo {
	background-position: left -8518px
}
.s_web_folder {
	background-position: left -2598px
}
.s_web_page_white_magnify {
	background-position: left -7333px
}
.s_web_drive_delete {
	background-position: left -2001px
}
.s_web_email_add_32 {
	background-position: left -2177px;
	width: 32px;
	height: 32px
}
.s_web_icon_checkmark {
	background-position: left -3989px;
	width: 20px;
	height: 14px
}
.s_web_page_white_py_gray_32 {
	background-position: left -7732px;
	width: 32px;
	height: 32px
}
.s_web_page_white_js_32 {
	background-position: left -7267px;
	width: 32px;
	height: 32px
}
.s_web_arrowleft {
	background-position: left -780px;
	width: 12px;
	height: 12px
}
.s_web_settings {
	background-position: left -9275px
}
.s_web_page_white_go {
	background-position: left -7085px
}
.s_web_teams {
	background-position: left -9943px;
	width: 36px;
	height: 36px
}
.s_web_folder_app_32 {
	background-position: left -2682px;
	width: 32px;
	height: 32px
}
.s_web_step-3 {
	background-position: left -9763px;
	width: 24px;
	height: 24px
}
.s_web_step-2 {
	background-position: left -9738px;
	width: 24px;
	height: 24px
}
.s_web_step-1 {
	background-position: left -9713px;
	width: 24px;
	height: 24px
}
.s_web_bullet_plus {
	background-position: left -1056px
}
.s_web_lnx {
	background-position: left -4959px
}
.s_web_download_arrow_white {
	background-position: left -1936px;
	width: 17px;
	height: 18px
}
.s_web_computer {
	background-position: left -1527px
}
.s_web_close {
	background-position: left -1392px
}
.s_web_page_white_text_gray_32 {
	background-position: left -7998px;
	width: 32px;
	height: 32px
}
.s_web_gmail {
	background-position: left -3736px
}
.s_web_fullscreen {
	background-position: left -3579px;
	width: 18px;
	height: 18px
}
.s_web_paste_plain {
	background-position: left -8433px
}
.s_web_pictures {
	background-position: left -8787px
}
.s_web_arrow_turn_left {
	background-position: left -746px
}
.s_web_star_16 {
	background-position: left -9581px
}
.s_web_user_suit {
	background-position: left -10608px
}
.s_web_star_blue_half {
	background-position: left -9635px;
	width: 11px;
	height: 11px
}
.s_web_folder_gray_32 {
	background-position: left -2915px;
	width: 32px;
	height: 32px
}
.s_web_email {
	background-position: left -2089px
}
.s_web_jobs {
	background-position: left -4250px
}
.s_web_page_white_powerpoint {
	background-position: left -7599px
}
.s_web_table_edit {
	background-position: left -9909px
}
.s_web_folder_photos {
	background-position: left -2948px
}
.s_web_page_white_tux {
	background-position: left -8048px
}
.s_web_key {
	background-position: left -4267px
}
.s_web_synced {
	background-position: left -9860px;
	width: 15px;
	height: 15px
}
.s_web_star_blue_off_big {
	background-position: left -9673px;
	width: 14px;
	height: 13px
}
.s_web_Firefox {
	background-position: left -17px
}
.s_web_plugin {
	background-position: left -8855px
}
.s_web_page_white_copy {
	background-position: left -6254px
}
.s_web_folder_user_20 {
	background-position: left -3165px;
	width: 20px;
	height: 20px
}
.s_web_album_stack_32 {
	background-position: left -303px;
	width: 30px;
	height: 4px
}
.s_web_tour {
	background-position: left -10100px;
	width: 64px;
	height: 64px
}
.s_web_cog {
	background-position: left -1409px
}
.s_web_email_32 {
	background-position: left -2127px;
	width: 32px;
	height: 32px
}
.s_web_page_white_cup_32 {
	background-position: left -6487px;
	width: 32px;
	height: 32px
}
.s_web_comment {
	background-position: left -1460px
}
.s_web_terms_acceptableuse {
	background-position: left -9997px
}
.s_web_bricks {
	background-position: left -1005px
}
.s_web_photo2 {
	background-position: left -8535px
}
.s_web_cancelsync {
	background-position: left -1269px;
	width: 15px;
	height: 15px
}
.s_web_package_32 {
	background-position: left -5587px;
	width: 32px;
	height: 32px
}
.s_web_linux {
	background-position: left -4942px
}
.s_web_cancel {
	background-position: left -1252px
}
.s_web_giftbox_36 {
	background-position: left -3649px;
	width: 36px;
	height: 36px
}
.s_web_page_white_text {
	background-position: left -7948px
}
.s_web_image_placeholder {
	background-position: left -4044px;
	width: 32px;
	height: 32px
}
.s_web_folder_add {
	background-position: left -2648px
}
.s_web_page_white_vector_32 {
	background-position: left -8181px;
	width: 32px;
	height: 32px
}
.s_web_arrow-white {
	background-position: left -602px;
	width: 8px;
	height: 10px
}
.s_web_twitter_32 {
	background-position: left -10341px;
	width: 32px;
	height: 32px
}
.s_web_settings_36 {
	background-position: left -9309px;
	width: 36px;
	height: 36px
}
.s_web_page_white_ruby_32 {
	background-position: left -7782px;
	width: 32px;
	height: 32px
}
.s_web_lightbox_show_in_folder {
	background-position: left -4583px;
	width: 32px;
	height: 32px
}
.s_web_package_delete {
	background-position: left -5637px
}
.s_web_filter_down {
	background-position: left -2581px
}
.s_web_toggle_list {
	background-position: left -10085px;
	width: 14px;
	height: 14px
}
.s_web_page_white_compressed_gray_32 {
	background-position: left -6221px;
	width: 32px;
	height: 32px
}
.s_web_folder_public_gray_32 {
	background-position: left -3065px;
	width: 32px;
	height: 32px
}
.s_web_events_bubble_right {
	background-position: left -2418px;
	width: 2px;
	height: 14px
}
.s_web_folder_camera_32 {
	background-position: left -2782px;
	width: 32px;
	height: 32px
}
.s_web_accountswitch {
	background-position: left -102px
}
.s_web_x_8 {
	background-position: left -10901px
}
.s_web_sound {
	background-position: left -9490px
}
.s_web_download_arrow {
	background-position: left -1919px
}
.s_web_page_white_add {
	background-position: left -5988px
}
.s_web_computer_edit {
	background-position: left -1578px
}
.s_web_error {
	background-position: left -2311px
}
.s_web_newspaper {
	background-position: left -5454px
}
.s_web_link_44 {
	background-position: left -4806px;
	width: 44px;
	height: 44px
}
.s_web_rename {
	background-position: left -9077px
}
.s_web_link_32_padded {
	background-position: left -4773px;
	width: 32px;
	height: 32px
}
.s_web_telephone {
	background-position: left -9980px
}
.s_web_page_white_php_32 {
	background-position: left -7450px;
	width: 32px;
	height: 32px
}
.s_web_music32 {
	background-position: left -5300px;
	width: 32px;
	height: 32px
}
.s_web_page_white_ruby_gray_32 {
	background-position: left -7815px;
	width: 32px;
	height: 32px
}
.s_web_sort-downtick-on {
	background-position: left -9460px;
	width: 9px;
	height: 9px
}
.s_web_follow_36 {
	background-position: left -3444px;
	width: 36px;
	height: 36px
}
.s_web_page_white_csharp_gray_32 {
	background-position: left -6437px;
	width: 32px;
	height: 32px
}
.s_web_folder_public_32 {
	background-position: left -3032px;
	width: 32px;
	height: 32px
}
.s_web_cross {
	background-position: left -1713px
}
.s_web_events {
	background-position: left -2328px;
	width: 20px;
	height: 20px
}
.s_web_package_add {
	background-position: left -5620px
}
.s_web_page_white_js_gray_32 {
	background-position: left -7300px;
	width: 32px;
	height: 32px
}
.s_web_wand {
	background-position: left -10675px
}
.s_web_page_white_32 {
	background-position: left -5789px;
	width: 32px;
	height: 32px
}
.s_web_icon_gray_x {
	background-position: left -4004px;
	width: 14px;
	height: 14px
}
.s_web_page_white_h_gray_32 {
	background-position: left -7201px;
	width: 32px;
	height: 32px
}
.s_web_user {
	background-position: left -10506px
}
.s_web_step-done {
	background-position: left -9788px;
	width: 24px;
	height: 17px
}
.s_web_xclose {
	background-position: left -10927px;
	width: 10px;
	height: 10px
}
.s_web_salesforce_cloud {
	background-position: left -9211px
}
.s_web_magnifier2 {
	background-position: left -5111px
}
.s_web_music_beam {
	background-position: left -5387px
}
.s_web_contact {
	background-position: left -1612px
}
.s_web_magnifier {
	background-position: left -5094px
}
.s_web_restore {
	background-position: left -9128px
}
.s_web_lightbox_next {
	background-position: left -4499px
}
.s_web_fb_20 {
	background-position: left -2473px;
	width: 20px;
	height: 20px
}
.s_web_money {
	background-position: left -5199px
}
.s_web_page_white_cplusplus {
	background-position: left -6304px
}
.s_web_xclose-gray {
	background-position: left -10918px;
	width: 8px;
	height: 8px
}
.s_web_spacerace_planet_36 {
	background-position: left -9544px;
	width: 36px;
	height: 36px
}
.s_web_world {
	background-position: left -10814px
}
.s_web_arrowright {
	background-position: left -793px;
	width: 12px;
	height: 12px
}
.s_web_desktop {
	background-position: left -1814px;
	width: 36px;
	height: 36px
}
.s_web_blog {
	background-position: left -945px
}
.s_web_add {
	background-position: left -119px
}
.s_web_page_white_picture_32 {
	background-position: left -7533px;
	width: 32px;
	height: 32px
}
.s_web_computer_delete {
	background-position: left -1561px
}
.s_web_pill {
	background-position: left -8804px
}
.s_web_door_in {
	background-position: left -1885px
}
.s_web_ipad_small {
	background-position: left -4111px
}
.s_web_hide-deleted {
	background-position: left -3908px
}
.s_web_arrow_out_black {
	background-position: left -663px
}
.s_web_tick {
	background-position: left -10031px
}
.s_web_user_delete {
	background-position: left -10540px
}
.s_web_gift {
	background-position: left -3632px
}
.s_web_server {
	background-position: left -9258px
}
.s_web_page_white_actionscript_gray_32 {
	background-position: left -5955px;
	width: 32px;
	height: 32px
}
.s_web_blackberry {
	background-position: left -895px
}
.s_web_numbers_gray_32 {
	background-position: left -5520px;
	width: 32px;
	height: 32px
}
.s_web_move_16 {
	background-position: left -5266px
}
.s_web_picture {
	background-position: left -8733px;
	width: 36px;
	height: 36px
}
.s_web_monkey_32 {
	background-position: left -5216px;
	width: 32px;
	height: 32px
}
.s_web_twitter {
	background-position: left -10303px
}
.s_web_dropbox_32 {
	background-position: left -2056px;
	width: 32px;
	height: 32px
}
.s_web_application_delete_32 {
	background-position: left -541px;
	width: 32px;
	height: 32px
}
.s_web_page_white_word {
	background-position: left -8330px
}
.s_web_application_add_32 {
	background-position: left -491px;
	width: 32px;
	height: 32px
}
.s_web_camerauploads_20 {
	background-position: left -1198px;
	width: 20px;
	height: 20px
}
.s_web_folder_photos_32 {
	background-position: left -2965px;
	width: 32px;
	height: 32px
}
.s_web_folder_dropquest_32 {
	background-position: left -2848px;
	width: 32px;
	height: 32px
}
.s_web_table {
	background-position: left -9892px
}
.s_web_home {
	background-position: left -3942px
}
.s_web_check_36 {
	background-position: left -1355px;
	width: 36px;
	height: 36px
}
.s_web_nosync {
	background-position: left -5471px;
	width: 15px;
	height: 15px
}
.s_web_link_16 {
	background-position: left -4723px
}
.s_web_repair_dropquest {
	background-position: left -9094px
}
.s_web_page_white_flash_32 {
	background-position: left -6886px;
	width: 32px;
	height: 32px
}
.s_web_page_white_php {
	background-position: left -7433px
}
.s_web_folder_32 {
	background-position: left -2615px;
	width: 32px;
	height: 32px
}
.s_web_comments {
	background-position: left -1477px
}
.s_web_page_white_powerpoint_gray_32 {
	background-position: left -7649px;
	width: 32px;
	height: 32px
}
.s_web_add_to_album_32_padded {
	background-position: left -153px;
	width: 32px;
	height: 32px
}
.s_web_user_go {
	background-position: left -10574px
}
.s_web_iphone_small {
	background-position: left -4183px
}
.s_web_packrat {
	background-position: left -5721px
}
.s_web_login_arrow {
	background-position: left -5060px
}
.s_web_link_public {
	background-position: left -4885px
}
.s_web_lock_small {
	background-position: left -5043px
}
.s_web_numbers_32 {
	background-position: left -5487px;
	width: 32px;
	height: 32px
}
.s_web_package {
	background-position: left -5570px
}
.s_web_alert_32 {
	background-position: left -341px;
	width: 32px;
	height: 32px
}
.s_web_page_white_excel_gray_32 {
	background-position: left -6753px;
	width: 32px;
	height: 32px
}
.s_web_tweet_36 {
	background-position: left -10249px;
	width: 36px;
	height: 36px
}
.s_web_plus {
	background-position: left -8872px
}
.s_web_arrow_highlight {
	background-position: left -630px
}
.s_web_create_new_album {
	background-position: left -1663px;
	width: 32px;
	height: 32px
}
.s_web_star_blue_off {
	background-position: left -9661px;
	width: 11px;
	height: 11px
}
.s_web_rainbow_20 {
	background-position: left -8974px;
	width: 20px;
	height: 20px
}
.s_web_page_white_code {
	background-position: left -6088px
}
.s_web_page_white_py_32 {
	background-position: left -7699px;
	width: 32px;
	height: 32px
}
.s_web_twitter_36 {
	background-position: left -10374px;
	width: 36px;
	height: 36px
}
.s_web_delete {
	background-position: left -1730px
}
.s_web_signout {
	background-position: left -9433px
}
.s_web_page_white_ruby {
	background-position: left -7765px
}
.s_web_email_20 {
	background-position: left -2106px;
	width: 20px;
	height: 20px
}
.s_web_arrow_refresh {
	background-position: left -680px
}
.s_web_lightbox_unselected {
	background-position: left -4616px
}
.s_web_rounded_tl {
	background-position: left -9145px;
	width: 5px;
	height: 5px
}
.s_web_paypal {
	background-position: left -8450px
}
.s_web_tweet_small {
	background-position: left -10286px
}
.s_web_link {
	background-position: left -4666px
}
.s_web_rounded_tr {
	background-position: left -9151px;
	width: 5px;
	height: 5px
}
.s_web_bug {
	background-position: left -1022px
}
.s_web_page_white_film_32 {
	background-position: left -6803px;
	width: 32px;
	height: 32px
}
.s_web_drive_add {
	background-position: left -1984px
}
.s_web_sharing_32 {
	background-position: left -9346px;
	width: 32px;
	height: 32px
}
.s_web_downtick-spacer {
	background-position: left -1955px;
	width: 11px;
	height: 11px
}
.s_web_arrow_white {
	background-position: left -763px
}
.s_web_windows {
	background-position: left -10797px
}
.s_web_InternetExplorer {
	background-position: left -34px
}
.s_web_cake {
	background-position: left -1073px;
	width: 20px;
	height: 20px
}
.s_web_spacerace_abduction_36 {
	background-position: left -9507px;
	width: 36px;
	height: 36px
}
.s_web_page_white_picture_gray_32 {
	background-position: left -7566px;
	width: 32px;
	height: 32px
}
.s_web_events_bubble_left {
	background-position: left -2403px;
	width: 2px;
	height: 14px
}
.s_web_page_white_edit {
	background-position: left -6653px
}
.s_web_folder_user {
	background-position: left -3148px
}
.s_web_arrow-blue {
	background-position: left -591px;
	width: 8px;
	height: 10px
}
.s_web_tshirt {
	background-position: left -10199px
}
.s_web_email_add {
	background-position: left -2160px
}
.s_web_page_white_acrobat_gray_32 {
	background-position: left -5872px;
	width: 32px;
	height: 32px
}
.s_web_check {
	background-position: left -1339px;
	width: 15px;
	height: 15px
}
.s_web_link_white {
	background-position: left -4902px;
	width: 20px;
	height: 18px
}
.s_web_iphone_small_32 {
	background-position: left -4200px;
	width: 32px;
	height: 32px
}
.s_web_folder_user_add {
	background-position: left -3294px
}
.s_web_globe32 {
	background-position: left -3703px;
	width: 32px;
	height: 32px
}
.s_web_page_white_sound_32 {
	background-position: left -7865px;
	width: 32px;
	height: 32px
}
.s_web_book {
	background-position: left -979px
}
.s_web_page_white_acrobat {
	background-position: left -5822px
}
.s_web_delete_32 {
	background-position: left -1764px;
	width: 32px;
	height: 32px
}
.s_web_photos_sidebar_check {
	background-position: left -8718px;
	width: 19px;
	height: 14px
}
.s_web_developers {
	background-position: left -1851px
}
.s_web_link18 {
	background-position: left -4683px;
	width: 18px;
	height: 18px
}
.s_web_heart_36 {
	background-position: left -3837px;
	width: 36px;
	height: 36px
}
.s_web_time {
	background-position: left -10048px
}
.s_web_yahoo {
	background-position: left -10938px
}
.s_web_breadcrumb {
	background-position: left -996px;
	width: 6px;
	height: 8px
}
.s_web_forums64 {
	background-position: left -3514px;
	width: 64px;
	height: 64px
}
.s_web_dropbox {
	background-position: left -2018px
}
.s_web_user_gray {
	background-position: left -10591px
}
.s_web_comments_32 {
	background-position: left -1494px;
	width: 32px;
	height: 32px
}
.s_web_photos {
	background-position: left -8552px
}
.s_web_feed_32 {
	background-position: left -2548px;
	width: 32px;
	height: 32px
}
.s_web_page_white_film {
	background-position: left -6786px
}
.s_web_settings_16 {
	background-position: left -9292px
}
.s_web_chart_bar {
	background-position: left -1322px
}
.s_web_packrat_leave {
	background-position: left -5738px;
	width: 32px;
	height: 16px
}
.s_web_page_white_gear_gray_32 {
	background-position: left -7002px;
	width: 32px;
	height: 32px
}
.s_web_group_add {
	background-position: left -3770px
}
.s_web_ruby_small {
	background-position: left -9157px
}
.s_web_x-green {
	background-position: left -10882px;
	width: 9px;
	height: 9px
}