@import url(../css/icons.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 92, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .maestro .sl-view-toggle-option, .Hyno_ContenFolder .maestro .sl-view-toggle-option:first-of-type, .Hyno_ContenFolder .maestro .sl-view-toggle-option:last-of-type, .Hyno_ContenFolder .maestro .sl-view-toggle-option.selected {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 3px;
  border: 0;
  background-color: white;
  box-shadow: none;
}

/* line 111, ../scss/styles-hyno.scss */
.Hyno_ContenFolder {
  background-color: white;
  color: #007ee5;
  width: 98%;
  margin: auto;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-weight: normal;
  font-size: 13px;
}
/* line 114, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .DropboxIcon {
  height: 20px;
  background-image: url(../img/web_sprites-normal.png);
  background-repeat: no-repeat;
  background-position: 0 -8772px;
  display: inline-block;
  position: relative;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}
/* line 138, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .fa-dropbox {
  color: #007ee5 !important;
}
/* line 142, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .breadcrumb > li > i {
  font-size: 21px;
  vertical-align: middle;
}
/* line 146, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .breadcrumb a:link {
  text-decoration: none;
  box-shadow: none !important;
}
/* line 151, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .breadcrumb img {
  display: inline;
  margin-left: 5px;
  box-shadow: none !important;
}
/* line 158, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .breadcrumb > li + li::before {
  content: "\f054";
  font-family: FontAwesome;
  vertical-align: middle;
  font-size: 8px;
}
/* line 166, ../scss/styles-hyno.scss */
.Hyno_ContenFolder div[id^="Hyno_Header_"] .s_web_dropbox21x20, .Hyno_ContenFolder div[id^="Hyno_Header_"] a, .Hyno_ContenFolder div[id^="Hyno_Header_"] span {
  float: left;
}
/* line 169, ../scss/styles-hyno.scss */
.Hyno_ContenFolder div[id^="Hyno_Header_"] .lnkZIp {
  float: right;
}
/* line 172, ../scss/styles-hyno.scss */
.Hyno_ContenFolder div[id^="Hyno_Header_"] div {
  font-size: 16px;
  color: #1B2733;
  font-weight: 500;
}
/* line 176, ../scss/styles-hyno.scss */
.Hyno_ContenFolder div[id^="Hyno_Header_"] div span {
  font-style: italic;
}
/* line 181, ../scss/styles-hyno.scss */
.Hyno_ContenFolder div[id^="Hyno_Header_"] a:link, .Hyno_ContenFolder div[id^="Hyno_Header_"] a:visited {
  text-decoration: none;
  border: 0;
}
/* line 194, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-body {
  position: relative;
}
/* line 196, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-body.sl-body--empty-folder {
  text-align: center;
}
/* line 200, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-container {
  margin: 13px 0;
  padding: 16px;
  background-color: white;
  border: 1px solid #ccdbeb;
  border-radius: 2px;
}
/* line 209, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .maestro .sl-list-container {
  border: 0;
  padding: 0;
}
/* line 213, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .maestro .sl-list-header {
  margin: 0;
  font-size: 12px;
  border-bottom: 1px solid rgba(37, 40, 43, 0.1);
  line-height: 39px;
}
/* line 220, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .maestro .sl-list-body .sl-list-column {
  color: #536170;
}
/* line 223, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .maestro .sl-list-body .sl-list-row {
  line-height: 49px;
}
/* line 239, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .maestro .sl-file-link {
  color: #1b2733;
}
/* line 241, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .maestro .sl-file-link:hover {
  color: #0070e0;
}
/* line 245, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .maestro .sl-list-column.sl-list-column--filename {
  width: 744px;
}
/* line 249, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-header {
  margin: 4px 0 10px;
}
/* line 251, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-header .sl-list-column {
  color: #637282;
}
/* line 255, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-column {
  float: left;
  display: block;
}
/* line 258, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-column.sl-list-column--filename {
  width: 558px;
}
/* line 260, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-column.sl-list-column--filename .icon {
  margin-right: 8px;
  width: 32px;
  height: 32px;
}
/* line 266, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-column.sl-list-column--filesize {
  width: 186px;
}
/* line 269, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-column.sl-list-column--modified {
  float: left;
}
/* line 273, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-body {
  padding: 0px;
}
/* line 275, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-body .sl-list-column {
  color: #555;
}
/* line 278, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-body .sl-list-row {
  line-height: 32px;
  padding: 7px 0;
}
/* line 281, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-body .sl-list-row:last-of-type {
  padding-bottom: 0;
}
/* line 286, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-list-row {
  border-width: 1px 0 0 0;
  text-align: left;
  margin: 0;
  list-style-type: none;
}
/* line 292, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-view-toggle-option {
  display: inline-block;
  zoom: 1;
  text-decoration: none;
  width: 14px;
  height: 14px;
  padding: 7px 9px;
  border: 1px solid #79bcea;
  background-color: #f3fafe;
  box-shadow: 0 1px 1px #ccc, -1px 1px 1px white;
}
/* line 303, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-view-toggle-option:first-of-type {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 309, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-view-toggle-option:last-of-type {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 315, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .sl-view-toggle-option.selected {
  background-color: #d9e7f0;
  box-shadow: inset 1px 1px 3px #c4d0d9;
}
/* line 324, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .o-flag {
  display: table;
  width: 100%;
}
/* line 328, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .o-flag__fix {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 333, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .o-flag__flex {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* line 339, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .o-flag--top .o-flag__fix {
  vertical-align: top;
}
/* line 342, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .o-flag--top .o-flag__flex {
  vertical-align: top;
}
/* line 347, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .o-flag--bottom .o-flag__fix {
  vertical-align: bottom;
}
/* line 350, ../scss/styles-hyno.scss */
.Hyno_ContenFolder .o-flag--bottom .o-flag__flex {
  vertical-align: bottom;
}
@supports (display: flex) {
  /* line 355, ../scss/styles-hyno.scss */
  .Hyno_ContenFolder .o-flag {
    display: flex;
    align-items: center;
  }
  /* line 359, ../scss/styles-hyno.scss */
  .Hyno_ContenFolder .o-flag--top {
    align-items: flex-start;
  }
  /* line 362, ../scss/styles-hyno.scss */
  .Hyno_ContenFolder .o-flag--bottom {
    align-items: flex-end;
  }
  /* line 365, ../scss/styles-hyno.scss */
  .Hyno_ContenFolder .o-flag__fix {
    display: inherit;
    align-items: inherit;
    flex: 0 0 auto;
  }
  /* line 370, ../scss/styles-hyno.scss */
  .Hyno_ContenFolder .o-flag__flex {
    display: initial;
    min-width: 0;
    width: auto;
    flex: 1 1 auto;
  }
}

/* @import "_parcial"; */
